USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[ShipmentInvoicePOManualMatches-Bkp]    Script Date: 3/27/2025 1:48:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipmentInvoicePOManualMatches-Bkp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNo] [nvarchar](50) NOT NULL,
	[PONumber] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ShipmentInvoicePOManualMatches-Bkp] ON 

INSERT [dbo].[ShipmentInvoicePOManualMatches-Bkp] ([Id], [InvoiceNo], [PONumber]) VALUES (4, N'51677879', N'00516')
INSERT [dbo].[ShipmentInvoicePOManualMatches-Bkp] ([Id], [InvoiceNo], [PONumber]) VALUES (16, N'M0269129', N'00590')
INSERT [dbo].[ShipmentInvoicePOManualMatches-Bkp] ([Id], [InvoiceNo], [PONumber]) VALUES (5, N'4132420846', N'00621')
SET IDENTITY_INSERT [dbo].[ShipmentInvoicePOManualMatches-Bkp] OFF
GO
