USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[OCR-Start]    Script Date: 3/27/2025 1:48:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCR-Start](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PartId] [int] NOT NULL,
	[RegExId] [int] NOT NULL,
 CONSTRAINT [PK_Start] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OCR-Start] ON 

INSERT [dbo].[OCR-Start] ([Id], [PartId], [RegExId]) VALUES (1, 5, 2)
INSERT [dbo].[OCR-Start] ([Id], [PartId], [RegExId]) VALUES (2, 6, 6)
INSERT [dbo].[OCR-Start] ([Id], [PartId], [RegExId]) VALUES (3, 7, 11)
GO
SET IDENTITY_INSERT [dbo].[OCR-Start] OFF
GO
ALTER TABLE [dbo].[OCR-Start]  WITH CHECK ADD  CONSTRAINT [FK_OCR-Start_OCR-Parts] FOREIGN KEY([PartId])
REFERENCES [dbo].[OCR-Parts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OCR-Start] CHECK CONSTRAINT [FK_OCR-Start_OCR-Parts]
GO
ALTER TABLE [dbo].[OCR-Start]  WITH CHECK ADD  CONSTRAINT [FK_OCR-Start_OCR-RegularExpressions] FOREIGN KEY([RegExId])
REFERENCES [dbo].[OCR-RegularExpressions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OCR-Start] CHECK CONSTRAINT [FK_OCR-Start_OCR-RegularExpressions]
GO
