USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[ShipmentFreightDetails]    Script Date: 3/27/2025 1:48:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipmentFreightDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FreightId] [int] NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Quantity] [float] NOT NULL,
	[Rate] [float] NOT NULL,
	[Total] [float] NOT NULL,
	[WarehouseCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_ShipmentFreightDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ShipmentFreightDetails] ON 

INSERT [dbo].[ShipmentFreightDetails] ([Id], [FreightId], [Description], [Quantity], [Rate], [Total], [WarehouseCode]) VALUES (349, 40, N'B/L Fee Bill Of Lading Fee', 1, 20, 20, N'')
INSERT [dbo].[ShipmentFreightDetails] ([Id], [FreightId], [Description], [Quantity], [Rate], [Total], [WarehouseCode]) VALUES (350, 40, N'Document Fee Document Fee', 1, 25, 25, N'')
INSERT [dbo].[ShipmentFreightDetails] ([Id], [FreightId], [Description], [Quantity], [Rate], [Total], [WarehouseCode]) VALUES (351, 40, N'Brokerage Service Brokerage Fees', 1, 75, 75, N'')
GO
SET IDENTITY_INSERT [dbo].[ShipmentFreightDetails] OFF
GO
ALTER TABLE [dbo].[ShipmentFreightDetails]  WITH CHECK ADD  CONSTRAINT [FK_ShipmentFreightDetails_ShipmentFreight] FOREIGN KEY([FreightId])
REFERENCES [dbo].[ShipmentFreight] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShipmentFreightDetails] CHECK CONSTRAINT [FK_ShipmentFreightDetails_ShipmentFreight]
GO
