USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[Sales -> to OPS - Overs]    Script Date: 3/27/2025 1:48:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales -> to OPS - Overs](
	[EntryDataId] [nvarchar](50) NOT NULL,
	[ItemNumber] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Quantity] [float] NULL,
	[OPS-Quantity] [float] NOT NULL,
	[OPSCost] [float] NULL,
	[Asycuda-Quantity] [float] NULL,
	[AsycudaCost] [float] NULL,
	[Diff] [float] NOT NULL,
	[Cost] [float] NULL,
	[TotalCost] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
