USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[OCR-InvoiceIdentificatonRegEx]    Script Date: 3/27/2025 1:48:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCR-InvoiceIdentificatonRegEx](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[RegExId] [int] NOT NULL,
 CONSTRAINT [PK_OCR-InvoiceIdentificatonRegEx] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OCR-InvoiceIdentificatonRegEx] ON 

INSERT [dbo].[OCR-InvoiceIdentificatonRegEx] ([Id], [InvoiceId], [RegExId]) VALUES (1, 52, 601)
INSERT [dbo].[OCR-InvoiceIdentificatonRegEx] ([Id], [InvoiceId], [RegExId]) VALUES (2, 3, 383)
INSERT [dbo].[OCR-InvoiceIdentificatonRegEx] ([Id], [InvoiceId], [RegExId]) VALUES (3, 39, 383)
GO
SET IDENTITY_INSERT [dbo].[OCR-InvoiceIdentificatonRegEx] OFF
GO
ALTER TABLE [dbo].[OCR-InvoiceIdentificatonRegEx]  WITH CHECK ADD  CONSTRAINT [FK_OCR-InvoiceIdentificatonRegEx_OCR-Invoices] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[OCR-Invoices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OCR-InvoiceIdentificatonRegEx] CHECK CONSTRAINT [FK_OCR-InvoiceIdentificatonRegEx_OCR-Invoices]
GO
ALTER TABLE [dbo].[OCR-InvoiceIdentificatonRegEx]  WITH CHECK ADD  CONSTRAINT [FK_OCR-InvoiceIdentificatonRegEx_OCR-RegularExpressions] FOREIGN KEY([RegExId])
REFERENCES [dbo].[OCR-RegularExpressions] ([Id])
GO
ALTER TABLE [dbo].[OCR-InvoiceIdentificatonRegEx] CHECK CONSTRAINT [FK_OCR-InvoiceIdentificatonRegEx_OCR-RegularExpressions]
GO
