USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[OCR-FieldFormatRegEx]    Script Date: 3/27/2025 1:48:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCR-FieldFormatRegEx](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FieldId] [int] NOT NULL,
	[RegExId] [int] NOT NULL,
	[ReplacementRegExId] [int] NOT NULL,
 CONSTRAINT [PK_OCR-FieldFormatRegEx] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OCR-FieldFormatRegEx] ON 

INSERT [dbo].[OCR-FieldFormatRegEx] ([Id], [FieldId], [RegExId], [ReplacementRegExId]) VALUES (1, 287, 235, 234)
INSERT [dbo].[OCR-FieldFormatRegEx] ([Id], [FieldId], [RegExId], [ReplacementRegExId]) VALUES (12, 312, 235, 60)
INSERT [dbo].[OCR-FieldFormatRegEx] ([Id], [FieldId], [RegExId], [ReplacementRegExId]) VALUES (13, 313, 235, 60)
GO
SET IDENTITY_INSERT [dbo].[OCR-FieldFormatRegEx] OFF
GO
ALTER TABLE [dbo].[OCR-FieldFormatRegEx]  WITH CHECK ADD  CONSTRAINT [FK_OCR-FieldFormatRegEx_OCR-Fields] FOREIGN KEY([FieldId])
REFERENCES [dbo].[OCR-Fields] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OCR-FieldFormatRegEx] CHECK CONSTRAINT [FK_OCR-FieldFormatRegEx_OCR-Fields]
GO
ALTER TABLE [dbo].[OCR-FieldFormatRegEx]  WITH CHECK ADD  CONSTRAINT [FK_OCR-FieldFormatRegEx_OCR-RegularExpressions] FOREIGN KEY([RegExId])
REFERENCES [dbo].[OCR-RegularExpressions] ([Id])
GO
ALTER TABLE [dbo].[OCR-FieldFormatRegEx] CHECK CONSTRAINT [FK_OCR-FieldFormatRegEx_OCR-RegularExpressions]
GO
ALTER TABLE [dbo].[OCR-FieldFormatRegEx]  WITH CHECK ADD  CONSTRAINT [FK_OCR-FieldFormatRegEx_OCR-RegularExpressions1] FOREIGN KEY([ReplacementRegExId])
REFERENCES [dbo].[OCR-RegularExpressions] ([Id])
GO
ALTER TABLE [dbo].[OCR-FieldFormatRegEx] CHECK CONSTRAINT [FK_OCR-FieldFormatRegEx_OCR-RegularExpressions1]
GO
