USE [WebSource-AutoBot]
GO
/****** Object:  View [dbo].[TODO-Error-MissingSupplimentaryUnit]    Script Date: 3/27/2025 1:48:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TODO-Error-MissingSupplimentaryUnit]
AS
SELECT dbo.xcuda_Item.ASYCUDA_Id, dbo.xcuda_Item.Item_Id, 'Missing Supplimentary Unit' AS Type, dbo.xcuda_Supplementary_unit.Supplementary_unit_Id, dbo.AsycudaDocumentBasicInfo.CNumber, 
                 dbo.AsycudaDocumentBasicInfo.RegistrationDate, dbo.xcuda_Item.LineNumber, dbo.AsycudaDocumentBasicInfo.ApplicationSettingsId, dbo.AsycudaDocumentBasicInfo.ImportComplete, 
                 dbo.AsycudaDocumentItem.Commercial_Description AS Description, dbo.AsycudaDocumentItem.TariffCode, dbo.AsycudaDocumentBasicInfo.DocumentType, dbo.AsycudaDocumentBasicInfo.Reference, 
                 dbo.AsycudaDocumentItem.ItemNumber, dbo.xcuda_Item.PreviousInvoiceNumber, dbo.xcuda_Item.PreviousInvoiceLineNumber
FROM    dbo.Primary_Supplementary_Unit INNER JOIN
                 dbo.xcuda_Supplementary_unit ON dbo.Primary_Supplementary_Unit.Supplementary_unit_Id = dbo.xcuda_Supplementary_unit.Supplementary_unit_Id RIGHT OUTER JOIN
                 dbo.xcuda_Item INNER JOIN
                 dbo.xcuda_Tarification ON dbo.xcuda_Item.Item_Id = dbo.xcuda_Tarification.Item_Id INNER JOIN
                 dbo.AsycudaDocumentBasicInfo ON dbo.xcuda_Item.ASYCUDA_Id = dbo.AsycudaDocumentBasicInfo.ASYCUDA_Id INNER JOIN
                 dbo.AsycudaDocumentItem ON dbo.xcuda_Item.Item_Id = dbo.AsycudaDocumentItem.Item_Id ON dbo.xcuda_Supplementary_unit.Tarification_Id = dbo.xcuda_Tarification.Item_Id
WHERE (dbo.xcuda_Supplementary_unit.Tarification_Id IS NULL) AND (dbo.AsycudaDocumentBasicInfo.ImportComplete = 1)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[11] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "xcuda_Item"
            Begin Extent = 
               Top = 0
               Left = 21
               Bottom = 155
               Right = 312
            End
            DisplayFlags = 280
            TopColumn = 18
         End
         Begin Table = "xcuda_Tarification"
            Begin Extent = 
               Top = 3
               Left = 546
               Bottom = 158
               Right = 820
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "AsycudaDocumentBasicInfo"
            Begin Extent = 
               Top = 6
               Left = 697
               Bottom = 161
               Right = 971
            End
            DisplayFlags = 280
            TopColumn = 5
         End
         Begin Table = "AsycudaDocumentItem"
            Begin Extent = 
               Top = 187
               Left = 261
               Bottom = 342
               Right = 538
            End
            DisplayFlags = 280
            TopColumn = 12
         End
         Begin Table = "Primary_Supplementary_Unit"
            Begin Extent = 
               Top = 6
               Left = 1015
               Bottom = 161
               Right = 1295
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "xcuda_Supplementary_unit"
            Begin Extent = 
               Top = 6
               Left = 1339
               Bottom = 161
               Right = 1619
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidth' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TODO-Error-MissingSupplimentaryUnit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N's = 20
         Width = 284
         Width = 1309
         Width = 1309
         Width = 2500
         Width = 2906
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3639
         Alias = 903
         Table = 1165
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1348
         SortOrder = 1414
         GroupBy = 1350
         Filter = 1348
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TODO-Error-MissingSupplimentaryUnit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TODO-Error-MissingSupplimentaryUnit'
GO
