USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[OCR-RecuringPart]    Script Date: 3/27/2025 1:48:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCR-RecuringPart](
	[Id] [int] NOT NULL,
	[IsComposite] [bit] NOT NULL,
 CONSTRAINT [PK_OCR-RecuringPart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[OCR-RecuringPart] ([Id], [IsComposite]) VALUES (7, 0)
INSERT [dbo].[OCR-RecuringPart] ([Id], [IsComposite]) VALUES (1020, 0)
INSERT [dbo].[OCR-RecuringPart] ([Id], [IsComposite]) VALUES (1030, 0)
GO
ALTER TABLE [dbo].[OCR-RecuringPart]  WITH CHECK ADD  CONSTRAINT [FK_OCR-RecuringPart_OCR-Parts] FOREIGN KEY([Id])
REFERENCES [dbo].[OCR-Parts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OCR-RecuringPart] CHECK CONSTRAINT [FK_OCR-RecuringPart_OCR-Parts]
GO
