USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 3/27/2025 1:48:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[WindowInMinutes] [int] NOT NULL,
 CONSTRAINT [PK_Sessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sessions] ON 

INSERT [dbo].[Sessions] ([Id], [Name], [WindowInMinutes]) VALUES (1, N'Discrepancies', 10)
INSERT [dbo].[Sessions] ([Id], [Name], [WindowInMinutes]) VALUES (2, N'Exwarehouse', 10)
INSERT [dbo].[Sessions] ([Id], [Name], [WindowInMinutes]) VALUES (3, N'CleanUp', 5)
SET IDENTITY_INSERT [dbo].[Sessions] OFF
GO
