<#@ template language="C#" debug="true" hostspecific="true"#>
<#@ output extension=".cs"#>
<#@ include file="C:\prism\Core.Common\T4 Library\T4\DomainInterface.tt" #>
<#
    CreateDomainInterface( "WaterNut",
                            @"PreviousDocumentQS.edmx",
                           @"C:\prism\WaterNut - Enterprise\DomainInterfaces\InterfacesModel.csproj",
                            @"C:\Prism\WaterNut - Enterprise\WaterNut.Client.Entities\WaterNut.Client.Entities.csproj");          
#>