<#@ template language="C#" debug="true" hostspecific="true"#>
<#@ output extension=".cs"#>
<#@ include file="C:\Prism\Core.Common\T4 Library\T4\QuerySpaceViewModels.tt"#>
<#
    CreateViewModels("WaterNut",@"PreviousDocumentQS.edmx",
                     @"C:\Prism\WaterNut - Enterprise\PreviousDocumentQS\PreviousDocumentQS.edmx",
                     @"C:\Prism\WaterNut - Enterprise\WaterNut\WaterNut.csproj", false, false );           
#>