<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Composition" version="1.0.31" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net48" />
  <package id="System.Composition" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.AttributedModel" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.Convention" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.Hosting" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.Runtime" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.TypedParts" version="7.0.0" targetFramework="net48" />
  <package id="YamlDotNet" version="13.0.2" targetFramework="net48" />
</packages>