<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Composition" version="1.0.31" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
  <package id="System.Composition" version="5.0.1" targetFramework="net47" />
  <package id="System.Composition.AttributedModel" version="5.0.1" targetFramework="net47" />
  <package id="System.Composition.Convention" version="5.0.1" targetFramework="net47" />
  <package id="System.Composition.Hosting" version="5.0.1" targetFramework="net47" />
  <package id="System.Composition.Runtime" version="5.0.1" targetFramework="net47" />
  <package id="System.Composition.TypedParts" version="5.0.1" targetFramework="net47" />
  <package id="YamlDotNet" version="11.1.1" targetFramework="net47" />
</packages>