<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>

	<!--<connectionStrings>
		<add name="WaterNutDBEntities" connectionString="metadata=res://*/WaterNutDB.csdl|res://*/WaterNutDB.ssdl|res://*/WaterNutDB.msl;provider=System.Data.SqlClient;provider connection string='data source=AUTOBROKER-PC\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
		<add name="AllocationDS" connectionString="data source=AUTOBROKER-PC\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
		<add name="AllocationQS" connectionString="data source=AUTOBROKER-PC\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
		<add name="CoreEntities" connectionString="data source=AUTOBROKER-PC\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
		<add name="OCR" connectionString="data source=AUTOBROKER-PC\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
		<add name="CounterPointQS" connectionString="data source=AUTOBROKER-PC\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
		<add name="DocumentDS" connectionString="data source=AUTOBROKER-PC\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
		<add name="DocumentItemDS" connectionString="data source=AUTOBROKER-PC\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
		<add name="EntryDataDS" connectionString="data source=AUTOBROKER-PC\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
		<add name="EntryDataQS" connectionString="data source=AUTOBROKER-PC\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
		<add name="InventoryQS" connectionString="data source=AUTOBROKER-PC\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
		<add name="InventoryDS" connectionString="data source=AUTOBROKER-PC\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
		<add name="AdjustmentQS" connectionString="data source=AUTOBROKER-PC\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
		<add name="PreviousDocumentQS" connectionString="data source=AUTOBROKER-PC\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
		<add name="PreviousDocumentDS" connectionString="data source=AUTOBROKER-PC\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
		<add name="QuickBooksDS" connectionString="data source=AUTOBROKER-PC\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
		<add name="SalesDataQS" connectionString="data source=AUTOBROKER-PC\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
		<add name="ValuationDS" connectionString="data source=AUTOBROKER-PC\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
		<add name="LicenseDS" connectionString="data source=AUTOBROKER-PC\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
	</connectionStrings>-->
	
	<connectionStrings>

    <add name="WaterNutDBEntities" connectionString="metadata=res://*/WaterNutDB.csdl|res://*/WaterNutDB.ssdl|res://*/WaterNutDB.msl;provider=System.Data.SqlClient;provider connection string='data source=joseph-pc\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
    <add name="AllocationDS" connectionString="data source=joseph-pc\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="AllocationQS" connectionString="data source=joseph-pc\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="CoreEntities" connectionString="data source=joseph-pc\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="OCR" connectionString="data source=joseph-pc\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="CounterPointQS" connectionString="data source=joseph-pc\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="DocumentDS" connectionString="data source=joseph-pc\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="DocumentItemDS" connectionString="data source=joseph-pc\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>

    <add name="EntryDataDS" connectionString="data source=joseph-pc\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="EntryDataQS" connectionString="data source=joseph-pc\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="InventoryQS" connectionString="data source=joseph-pc\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="InventoryDS" connectionString="data source=joseph-pc\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="AdjustmentQS" connectionString="data source=joseph-pc\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="PreviousDocumentQS" connectionString="data source=joseph-pc\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="PreviousDocumentDS" connectionString="data source=joseph-pc\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="QuickBooksDS" connectionString="data source=joseph-pc\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="SalesDataQS" connectionString="data source=joseph-pc\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="ValuationDS" connectionString="data source=joseph-pc\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="LicenseDS" connectionString="data source=joseph-pc\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!--<connectionStrings>

    <add name="WaterNutDBEntities" connectionString="metadata=res://*/WaterNutDB.csdl|res://*/WaterNutDB.ssdl|res://*/WaterNutDB.msl;provider=System.Data.SqlClient;provider connection string='data source = joseph-pc\SQLDEVELOPER2017;initial catalog=IWW-DiscoveryDB;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
    <add name="AllocationDS" connectionString="data source = joseph-pc\SQLDEVELOPER2017;initial catalog=IWW-DiscoveryDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="AllocationQS" connectionString="data source = joseph-pc\SQLDEVELOPER2017;initial catalog=IWW-DiscoveryDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="CoreEntities" connectionString="data source = joseph-pc\SQLDEVELOPER2017;initial catalog=IWW-DiscoveryDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="OCR" connectionString="data source=joseph-pc\SQLDEVELOPER2017;initial catalog=IWW-DiscoveryDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="CounterPointQS" connectionString="data source = joseph-pc\SQLDEVELOPER2017;initial catalog=IWW-DiscoveryDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="DocumentDS" connectionString="data source = joseph-pc\SQLDEVELOPER2017;initial catalog=IWW-DiscoveryDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="DocumentItemDS" connectionString="data source = joseph-pc\SQLDEVELOPER2017;initial catalog=IWW-DiscoveryDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>

    <add name="EntryDataDS" connectionString="data source = joseph-pc\SQLDEVELOPER2017;initial catalog=IWW-DiscoveryDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="EntryDataQS" connectionString="data source = joseph-pc\SQLDEVELOPER2017;initial catalog=IWW-DiscoveryDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="InventoryQS" connectionString="data source = joseph-pc\SQLDEVELOPER2017;initial catalog=IWW-DiscoveryDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="InventoryDS" connectionString="data source = joseph-pc\SQLDEVELOPER2017;initial catalog=IWW-DiscoveryDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="AdjustmentQS" connectionString="data source = joseph-pc\SQLDEVELOPER2017;initial catalog=IWW-DiscoveryDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="PreviousDocumentQS" connectionString="data source = joseph-pc\SQLDEVELOPER2017;initial catalog=IWW-DiscoveryDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="PreviousDocumentDS" connectionString="data source = joseph-pc\SQLDEVELOPER2017;initial catalog=IWW-DiscoveryDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="QuickBooksDS" connectionString="data source = joseph-pc\SQLDEVELOPER2017;initial catalog=IWW-DiscoveryDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="SalesDataQS" connectionString="data source = joseph-pc\SQLDEVELOPER2017;initial catalog=IWW-DiscoveryDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="ValuationDS" connectionString="data source=joseph-pc\SQLDEVELOPER2017;initial catalog=IWW-DiscoveryDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="LicenseDS" connectionString="data source=joseph-pc\SQLDEVELOPER2017;initial catalog=IWW-DiscoveryDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
