<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AutoBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--	
	<connectionStrings>
		<add name="WaterNutDBEntities" connectionString="metadata=res://*/WaterNutDB.csdl|res://*/WaterNutDB.ssdl|res://*/WaterNutDB.msl;provider=System.Data.SqlClient;provider connection string='data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBot-EnterpriseDB;user=sa;password=pa$$word;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="AllocationDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBot-EnterpriseDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="AllocationQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBot-EnterpriseDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="CoreEntities" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBot-EnterpriseDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="OCR" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBot-EnterpriseDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="CounterPointQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBot-EnterpriseDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="DocumentDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBot-EnterpriseDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="DocumentItemDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBot-EnterpriseDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="EntryDataDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBot-EnterpriseDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="EntryDataQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBot-EnterpriseDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="InventoryQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBot-EnterpriseDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="InventoryDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBot-EnterpriseDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="AdjustmentQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBot-EnterpriseDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="PreviousDocumentQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBot-EnterpriseDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="PreviousDocumentDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBot-EnterpriseDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="QuickBooksDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBot-EnterpriseDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="SalesDataQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBot-EnterpriseDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="ValuationDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBot-EnterpriseDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="LicenseDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBot-EnterpriseDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
	</connectionStrings>
 -->
  <!--
	<connectionStrings>
		<add name="WaterNutDBEntities" connectionString="metadata=res://*/WaterNutDB.csdl|res://*/WaterNutDB.ssdl|res://*/WaterNutDB.msl;provider=System.Data.SqlClient;provider connection string='data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="AllocationDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="AllocationQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="CoreEntities" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="OCR" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="CounterPointQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="DocumentDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="DocumentItemDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="EntryDataDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="EntryDataQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="InventoryQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="InventoryDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="AdjustmentQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="PreviousDocumentQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="PreviousDocumentDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="QuickBooksDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="SalesDataQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="ValuationDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="LicenseDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
		  -->
	
 <!--	
  <connectionStrings>
	<add name="WaterNutDBEntities" connectionString="metadata=res://*/WaterNutDB.csdl|res://*/WaterNutDB.ssdl|res://*/WaterNutDB.msl;provider=System.Data.SqlClient;provider connection string='data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="AllocationDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="AllocationQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CoreEntities" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="OCR" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CounterPointQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DocumentDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DocumentItemDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EntryDataDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EntryDataQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="InventoryQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="InventoryDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="AdjustmentQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="PreviousDocumentQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="PreviousDocumentDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="QuickBooksDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="SalesDataQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ValuationDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="LicenseDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
 	  -->
  <!--
	<connectionStrings>
		<add name="WaterNutDBEntities" connectionString="metadata=res://*/WaterNutDB.csdl|res://*/WaterNutDB.ssdl|res://*/WaterNutDB.msl;provider=System.Data.SqlClient;provider connection string='data source=MINIJOE\SQLDEVELOPER2022;initial catalog=Rouge-DiscoveryDB;user=sa;password=pa$$word;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="AllocationDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=Rouge-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="AllocationQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=Rouge-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="CoreEntities" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=Rouge-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="OCR" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=Rouge-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="CounterPointQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=Rouge-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="DocumentDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=Rouge-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="DocumentItemDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=Rouge-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="EntryDataDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=Rouge-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="EntryDataQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=Rouge-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="InventoryQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=Rouge-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="InventoryDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=Rouge-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="AdjustmentQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=Rouge-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="PreviousDocumentQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=Rouge-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="PreviousDocumentDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=Rouge-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="QuickBooksDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=Rouge-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="SalesDataQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=Rouge-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="ValuationDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=Rouge-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="LicenseDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=Rouge-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
		  -->
 <!-- 
	<connectionStrings>
		<add name="WaterNutDBEntities" connectionString="metadata=res://*/WaterNutDB.csdl|res://*/WaterNutDB.ssdl|res://*/WaterNutDB.msl;provider=System.Data.SqlClient;provider connection string='data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="AllocationDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="AllocationQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="CoreEntities" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="OCR" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="CounterPointQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="DocumentDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="DocumentItemDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="EntryDataDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="EntryDataQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="InventoryQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="InventoryDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="AdjustmentQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="PreviousDocumentQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="PreviousDocumentDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="QuickBooksDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="SalesDataQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="ValuationDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="LicenseDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	  -->
  <!--

	<connectionStrings>
		<add name="WaterNutDBEntities" connectionString="metadata=res://*/WaterNutDB.csdl|res://*/WaterNutDB.ssdl|res://*/WaterNutDB.msl;provider=System.Data.SqlClient;provider connection string='data source=AutoBroker-PC\SQLDEVELOPER2019;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="AllocationDS" connectionString="data source=AutoBroker-PC\SQLDEVELOPER2019;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="AllocationQS" connectionString="data source=AutoBroker-PC\SQLDEVELOPER2019;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="CoreEntities" connectionString="data source=AutoBroker-PC\SQLDEVELOPER2019;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="OCR" connectionString="data source=AutoBroker-PC\SQLDEVELOPER2019;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="CounterPointQS" connectionString="data source=AutoBroker-PC\SQLDEVELOPER2019;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="DocumentDS" connectionString="data source=AutoBroker-PC\SQLDEVELOPER2019;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="DocumentItemDS" connectionString="data source=AutoBroker-PC\SQLDEVELOPER2019;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="EntryDataDS" connectionString="data source=AutoBroker-PC\SQLDEVELOPER2019;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="EntryDataQS" connectionString="data source=AutoBroker-PC\SQLDEVELOPER2019;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="InventoryQS" connectionString="data source=AutoBroker-PC\SQLDEVELOPER2019;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="InventoryDS" connectionString="data source=AutoBroker-PC\SQLDEVELOPER2019;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="AdjustmentQS" connectionString="data source=AutoBroker-PC\SQLDEVELOPER2019;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="PreviousDocumentQS" connectionString="data source=AutoBroker-PC\SQLDEVELOPER2019;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="PreviousDocumentDS" connectionString="data source=AutoBroker-PC\SQLDEVELOPER2019;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="QuickBooksDS" connectionString="data source=AutoBroker-PC\SQLDEVELOPER2019;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="SalesDataQS" connectionString="data source=AutoBroker-PC\SQLDEVELOPER2019;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="ValuationDS" connectionString="data source=AutoBroker-PC\SQLDEVELOPER2019;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="LicenseDS" connectionString="data source=AutoBroker-PC\SQLDEVELOPER2019;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

		  -->
  <!--
	<connectionStrings>
		<add name="WaterNutDBEntities" connectionString="metadata=res://*/WaterNutDB.csdl|res://*/WaterNutDB.ssdl|res://*/WaterNutDB.msl;provider=System.Data.SqlClient;provider connection string='data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="AllocationDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="AllocationQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="CoreEntities" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="OCR" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="CounterPointQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="DocumentDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="DocumentItemDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="EntryDataDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="EntryDataQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="InventoryQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="InventoryDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="AdjustmentQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="PreviousDocumentQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="PreviousDocumentDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="QuickBooksDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="SalesDataQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="ValuationDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="LicenseDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=BudgetMarine-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

	  -->
  <!--
	<connectionStrings>

		<add name="WaterNutDBEntities" connectionString="metadata=res://*/WaterNutDB.csdl|res://*/WaterNutDB.ssdl|res://*/WaterNutDB.msl;provider=System.Data.SqlClient;provider connection string='data source = MINIJOE\SQLDEVELOPER2022;initial catalog=IWW-DiscoveryDB;user=sa;password=pa$$word;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="AllocationDS" connectionString="data source = MINIJOE\SQLDEVELOPER2022;initial catalog=IWW-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="AllocationQS" connectionString="data source = MINIJOE\SQLDEVELOPER2022;initial catalog=IWW-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="CoreEntities" connectionString="data source = MINIJOE\SQLDEVELOPER2022;initial catalog=IWW-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="OCR" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=IWW-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="CounterPointQS" connectionString="data source = MINIJOE\SQLDEVELOPER2022;initial catalog=IWW-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="DocumentDS" connectionString="data source = MINIJOE\SQLDEVELOPER2022;initial catalog=IWW-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="DocumentItemDS" connectionString="data source = MINIJOE\SQLDEVELOPER2022;initial catalog=IWW-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />

		<add name="EntryDataDS" connectionString="data source = MINIJOE\SQLDEVELOPER2022;initial catalog=IWW-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="EntryDataQS" connectionString="data source = MINIJOE\SQLDEVELOPER2022;initial catalog=IWW-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="InventoryQS" connectionString="data source = MINIJOE\SQLDEVELOPER2022;initial catalog=IWW-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="InventoryDS" connectionString="data source = MINIJOE\SQLDEVELOPER2022;initial catalog=IWW-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="AdjustmentQS" connectionString="data source = MINIJOE\SQLDEVELOPER2022;initial catalog=IWW-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="PreviousDocumentQS" connectionString="data source = MINIJOE\SQLDEVELOPER2022;initial catalog=IWW-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="PreviousDocumentDS" connectionString="data source = MINIJOE\SQLDEVELOPER2022;initial catalog=IWW-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="QuickBooksDS" connectionString="data source = MINIJOE\SQLDEVELOPER2022;initial catalog=IWW-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="SalesDataQS" connectionString="data source = MINIJOE\SQLDEVELOPER2022;initial catalog=IWW-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="ValuationDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=IWW-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="LicenseDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=IWW-DiscoveryDB;user=sa;password=pa$$word;Connect Timeout=30" providerName="System.Data.SqlClient" />
	</connectionStrings>
 -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
		
		
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.RegularExpressions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.1.9" newVersion="1.3.1.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.2.0" newVersion="6.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MimeKit" publicKeyToken="bede1c8a46c66814" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.13.0.0" newVersion="2.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.3" newVersion="9.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.3" newVersion="9.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.3" newVersion="9.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itext.bouncy-castle-fips-adapter" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.1.0.0" newVersion="9.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itext.commons" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.4.0" newVersion="8.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Formats.Asn1" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.3" newVersion="9.0.0.3" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-9.0.4.0" newVersion="9.0.0.4" /> 
		</dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <AutoBot.Properties.Settings>
      <setting name="DevMode" serializeAs="String">
        <value>True</value>
      </setting>
    </AutoBot.Properties.Settings>
  </applicationSettings>
</configuration>