<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>

    <add name="WaterNutDBEntities" connectionString="metadata=res://*/WaterNutDB.csdl|res://*/WaterNutDB.ssdl|res://*/WaterNutDB.msl;provider=System.Data.SqlClient;provider connection string='data source=AUTOBOT\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="AllocationDS" connectionString="data source=AUTOBOT\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="AllocationQS" connectionString="data source=AUTOBOT\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="CoreEntities" connectionString="data source=AUTOBOT\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="CounterPointQS" connectionString="data source=AUTOBOT\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="DocumentDS" connectionString="data source=AUTOBOT\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="DocumentItemDS" connectionString="data source=AUTOBOT\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient" />

    <add name="EntryDataDS" connectionString="data source=AUTOBOT\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="EntryDataQS" connectionString="data source=AUTOBOT\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="InventoryQS" connectionString="data source=AUTOBOT\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="InventoryDS" connectionString="data source=AUTOBOT\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="AdjustmentQS" connectionString="data source=AUTOBOT\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="PreviousDocumentQS" connectionString="data source=AUTOBOT\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="PreviousDocumentDS" connectionString="data source=AUTOBOT\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="QuickBooksDS" connectionString="data source=AUTOBOT\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="SalesDataQS" connectionString="data source=AUTOBOT\SQLDEVELOPER2017;initial catalog=AutoBot-EnterpriseDB;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
