USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[FileTypes]    Script Date: 3/27/2025 1:48:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationSettingsId] [int] NOT NULL,
	[Description] [nvarchar](50) NULL,
	[FilePattern] [nvarchar](255) NOT NULL,
	[CreateDocumentSet] [bit] NOT NULL,
	[DocumentSpecific] [bit] NOT NULL,
	[DocumentCode] [nvarchar](50) NOT NULL,
	[ReplyToMail] [bit] NOT NULL,
	[FileGroupId] [int] NULL,
	[MergeEmails] [bit] NOT NULL,
	[CopyEntryData] [bit] NOT NULL,
	[ParentFileTypeId] [int] NULL,
	[OverwriteFiles] [bit] NULL,
	[HasFiles] [bit] NULL,
	[OldFileTypeId] [int] NULL,
	[ReplicateHeaderRow] [bit] NULL,
	[IsImportable] [bit] NULL,
	[MaxFileSizeInMB] [int] NULL,
	[FileInfoId] [int] NULL,
	[DocSetRefernece] [nvarchar](50) NULL,
 CONSTRAINT [PK_FileTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FileTypes] ON 

INSERT [dbo].[FileTypes] ([Id], [ApplicationSettingsId], [Description], [FilePattern], [CreateDocumentSet], [DocumentSpecific], [DocumentCode], [ReplyToMail], [FileGroupId], [MergeEmails], [CopyEntryData], [ParentFileTypeId], [OverwriteFiles], [HasFiles], [OldFileTypeId], [ReplicateHeaderRow], [IsImportable], [MaxFileSizeInMB], [FileInfoId], [DocSetRefernece]) VALUES (91, 3, NULL, N'[A-Z\\ -.]*(?<RegNumber>[0-9]+)-LIC.*.xml$', 0, 0, N'LC02', 0, NULL, 0, 1, NULL, NULL, NULL, 37, NULL, NULL, NULL, 3, N'Imports')
INSERT [dbo].[FileTypes] ([Id], [ApplicationSettingsId], [Description], [FilePattern], [CreateDocumentSet], [DocumentSpecific], [DocumentCode], [ReplyToMail], [FileGroupId], [MergeEmails], [CopyEntryData], [ParentFileTypeId], [OverwriteFiles], [HasFiles], [OldFileTypeId], [ReplicateHeaderRow], [IsImportable], [MaxFileSizeInMB], [FileInfoId], [DocSetRefernece]) VALUES (92, 3, NULL, N'[A-Z\\ -.]*(?<RegNumber>[0-9]+)-C71.*.xml$', 0, 0, N'DC05', 0, NULL, 0, 1, NULL, NULL, NULL, 38, NULL, NULL, NULL, 4, N'Imports')
INSERT [dbo].[FileTypes] ([Id], [ApplicationSettingsId], [Description], [FilePattern], [CreateDocumentSet], [DocumentSpecific], [DocumentCode], [ReplyToMail], [FileGroupId], [MergeEmails], [CopyEntryData], [ParentFileTypeId], [OverwriteFiles], [HasFiles], [OldFileTypeId], [ReplicateHeaderRow], [IsImportable], [MaxFileSizeInMB], [FileInfoId], [DocSetRefernece]) VALUES (93, 3, NULL, N'UnclassifiedItems((-\d+)?-\d+.*)?.csv', 0, 0, N'NA', 0, NULL, 0, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 9, N'Imports')
SET IDENTITY_INSERT [dbo].[FileTypes] OFF
GO
ALTER TABLE [dbo].[FileTypes]  WITH CHECK ADD  CONSTRAINT [FK_FileTypes_ApplicationSettings] FOREIGN KEY([ApplicationSettingsId])
REFERENCES [dbo].[ApplicationSettings] ([ApplicationSettingsId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FileTypes] CHECK CONSTRAINT [FK_FileTypes_ApplicationSettings]
GO
ALTER TABLE [dbo].[FileTypes]  WITH NOCHECK ADD  CONSTRAINT [FK_FileTypes_FileGroups] FOREIGN KEY([FileGroupId])
REFERENCES [dbo].[FileGroups] ([Id])
GO
ALTER TABLE [dbo].[FileTypes] CHECK CONSTRAINT [FK_FileTypes_FileGroups]
GO
ALTER TABLE [dbo].[FileTypes]  WITH NOCHECK ADD  CONSTRAINT [FK_FileTypes_FileTypes] FOREIGN KEY([ParentFileTypeId])
REFERENCES [dbo].[FileTypes] ([Id])
GO
ALTER TABLE [dbo].[FileTypes] CHECK CONSTRAINT [FK_FileTypes_FileTypes]
GO
ALTER TABLE [dbo].[FileTypes]  WITH NOCHECK ADD  CONSTRAINT [FK_FileTypes_FileTypes-FileInfo] FOREIGN KEY([FileInfoId])
REFERENCES [dbo].[FileTypes-FileImporterInfo] ([Id])
GO
ALTER TABLE [dbo].[FileTypes] CHECK CONSTRAINT [FK_FileTypes_FileTypes-FileInfo]
GO
