USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[DocumentsList]    Script Date: 3/27/2025 1:48:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentsList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationSettingsId] [int] NOT NULL,
	[Year] [nvarchar](4) NOT NULL,
	[Office] [nvarchar](50) NOT NULL,
	[Declarant] [nvarchar](500) NOT NULL,
	[DeclarantCode] [nvarchar](50) NOT NULL,
	[ReferenceNumber] [nvarchar](50) NOT NULL,
	[RegistrationSerial] [nvarchar](50) NOT NULL,
	[RegistrationNumber] [nvarchar](50) NOT NULL,
	[RegistrationDate] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[GeneralProcedure] [nvarchar](50) NULL,
	[Items] [nvarchar](50) NULL,
	[Exporter] [nvarchar](500) NULL,
	[RecieptSerial] [nvarchar](50) NULL,
	[RecieptNumber] [nvarchar](50) NOT NULL,
	[RecieptDate] [nvarchar](50) NULL,
	[Consignee] [nvarchar](500) NULL,
	[ConsigneeCode] [nvarchar](50) NULL,
	[TotalTaxes] [nvarchar](50) NULL,
	[WarehouseCode] [nvarchar](50) NULL,
	[AssessmentSerial] [nvarchar](1) NOT NULL,
	[AssessmentNumber] [nvarchar](8) NOT NULL,
	[AssessmentDate] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](50) NULL,
 CONSTRAINT [PK_DocumentsList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DocumentsList] ON 

GO
SET IDENTITY_INSERT [dbo].[DocumentsList] OFF
GO
