USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[InfoMappingRegEx]    Script Date: 3/27/2025 12:27:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoMappingRegEx](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InfoMappingId] [int] NOT NULL,
	[KeyRegX] [nvarchar](1000) NOT NULL,
	[FieldRx] [nvarchar](1000) NOT NULL,
	[KeyReplaceRx] [nvarchar](1000) NULL,
	[FieldReplaceRx] [nvarchar](1000) NULL,
	[LineRegx] [nvarchar](1000) NOT NULL,
	[KeyValue] [nvarchar](50) NULL,
	[FieldValue] [nvarchar](1000) NULL,
 CONSTRAINT [PK_InfoMappingRegEx] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InfoMappingRegEx] ON 
GO
INSERT [dbo].[InfoMappingRegEx] ([Id], [InfoMappingId], [KeyRegX], [FieldRx], [KeyReplaceRx], [FieldReplaceRx], [LineRegx], [KeyValue], [FieldValue]) VALUES (28, 1045, N'Manifest', N'(?<Value>[\d]{4})[\s/]+(?<Value1>[\d]+)', NULL, N'$1 $2', N'((?<Key>.[a-zA-Z\s\(\)]*):(?<Value>.[a-zA-Z0-9\- :$.,]*))', NULL, NULL)
GO
INSERT [dbo].[InfoMappingRegEx] ([Id], [InfoMappingId], [KeyRegX], [FieldRx], [KeyReplaceRx], [FieldReplaceRx], [LineRegx], [KeyValue], [FieldValue]) VALUES (29, 1029, N'^BL', N'(?<=[#: ]+\s)(?<Value>[a-zA-Z0-9\- :$,/.]*)', NULL, NULL, N'((?<Key>.[a-zA-Z\s\(\)]*):(?<Value>.[a-zA-Z0-9\- :$.,]*))', NULL, NULL)
GO
INSERT [dbo].[InfoMappingRegEx] ([Id], [InfoMappingId], [KeyRegX], [FieldRx], [KeyReplaceRx], [FieldReplaceRx], [LineRegx], [KeyValue], [FieldValue]) VALUES (30, 1027, N'Freight', N'Freight((?!Currency).)[:\s#]+(?<Value>[a-zA-Z0-9\- :$,/.]*)', NULL, NULL, N'((?<Key>.[a-zA-Z\s\(\)]*):(?<Value>.[a-zA-Z0-9\- :$.,]*))', NULL, NULL)
GO
 -- Reverted KeyRegX, kept specific FieldRx
GO
SET IDENTITY_INSERT [dbo].[InfoMappingRegEx] OFF
GO
ALTER TABLE [dbo].[InfoMappingRegEx]  WITH CHECK ADD  CONSTRAINT [FK_InfoMappingRegEx_InfoMapping] FOREIGN KEY([InfoMappingId])
REFERENCES [dbo].[InfoMapping] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InfoMappingRegEx] CHECK CONSTRAINT [FK_InfoMappingRegEx_InfoMapping]
GO
