USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[EmailFileTypes]    Script Date: 3/27/2025 1:48:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailFileTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmailMappingId] [int] NOT NULL,
	[FileTypeId] [int] NOT NULL,
	[IsRequired] [bit] NULL,
 CONSTRAINT [PK_EmailFileTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmailFileTypes] ON 

INSERT [dbo].[EmailFileTypes] ([Id], [EmailMappingId], [FileTypeId], [IsRequired]) VALUES (30, 27, 93, NULL)
INSERT [dbo].[EmailFileTypes] ([Id], [EmailMappingId], [FileTypeId], [IsRequired]) VALUES (31, 27, 94, NULL)
INSERT [dbo].[EmailFileTypes] ([Id], [EmailMappingId], [FileTypeId], [IsRequired]) VALUES (33, 22, 99, NULL)
SET IDENTITY_INSERT [dbo].[EmailFileTypes] OFF
GO
ALTER TABLE [dbo].[EmailFileTypes]  WITH CHECK ADD  CONSTRAINT [FK_EmailFileTypes_EmailMapping] FOREIGN KEY([EmailMappingId])
REFERENCES [dbo].[EmailMapping] ([Id])
GO
ALTER TABLE [dbo].[EmailFileTypes] CHECK CONSTRAINT [FK_EmailFileTypes_EmailMapping]
GO
ALTER TABLE [dbo].[EmailFileTypes]  WITH NOCHECK ADD  CONSTRAINT [FK_EmailFileTypes_FileTypes] FOREIGN KEY([FileTypeId])
REFERENCES [dbo].[FileTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmailFileTypes] CHECK CONSTRAINT [FK_EmailFileTypes_FileTypes]
GO
