USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[xLIC_License]    Script Date: 3/27/2025 1:48:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xLIC_License](
	[LicenseId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_xLIC_License] PRIMARY KEY CLUSTERED 
(
	[LicenseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[xLIC_License] ON 

INSERT [dbo].[xLIC_License] ([LicenseId]) VALUES (77)
INSERT [dbo].[xLIC_License] ([LicenseId]) VALUES (78)
INSERT [dbo].[xLIC_License] ([LicenseId]) VALUES (79)
GO
SET IDENTITY_INSERT [dbo].[xLIC_License] OFF
GO
