USE [WebSource-AutoBot]
GO
/****** Object:  View [dbo].[AsycudaDocumentAttachments-Required]    Script Date: 3/27/2025 1:48:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*WHERE (AsycudaDocumentBasicInfo.ImportComplete = 0)*/
CREATE VIEW [dbo].[AsycudaDocumentAttachments-Required]
AS
SELECT dbo.AsycudaDocumentBasicInfo.AsycudaDocumentSetId, dbo.AsycudaDocumentBasicInfo.ASYCUDA_Id, 
                 dbo.AsycudaDocumentBasicInfo.Extended_customs_procedure + N'-' + dbo.AsycudaDocumentBasicInfo.National_customs_procedure AS CustomsProcedure, dbo.AttachmentCodes.Code, 
                 dbo.AsycudaDocumentBasicInfo.ImportComplete, dbo.AsycudaDocumentBasicInfo.Reference AS ReferenceNumber, dbo.AttachmentCodes.Description, cast(dbo.AsycudaDocumentBasicInfo.ASYCUDA_Id as nvarchar(50)) + '-'+ cast(dbo.AttachmentCodes.Id as nvarchar(50)) as Id
FROM    dbo.CustomsProcedureRequiredAttachments INNER JOIN
                 dbo.AttachmentCodes ON dbo.CustomsProcedureRequiredAttachments.AttachmentCodeId = dbo.AttachmentCodes.Id INNER JOIN
                 dbo.AsycudaDocumentBasicInfo ON dbo.CustomsProcedureRequiredAttachments.Customs_ProcedureId = dbo.AsycudaDocumentBasicInfo.Customs_ProcedureId
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "CustomsProcedureRequiredAttachments"
            Begin Extent = 
               Top = 65
               Left = 743
               Bottom = 199
               Right = 970
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "AttachmentCodes"
            Begin Extent = 
               Top = 0
               Left = 1149
               Bottom = 134
               Right = 1333
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "AsycudaDocumentBasicInfo"
            Begin Extent = 
               Top = 0
               Left = 298
               Bottom = 259
               Right = 572
            End
            DisplayFlags = 280
            TopColumn = 2
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 8836
         Alias = 903
         Table = 1165
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1348
         SortOrder = 1414
         GroupBy = 1350
         Filter = 1348
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'AsycudaDocumentAttachments-Required'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'AsycudaDocumentAttachments-Required'
GO
