USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[xC71_Seller_segment]    Script Date: 3/27/2025 1:48:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xC71_Seller_segment](
	[Name] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Identification_segment_Id] [int] NOT NULL,
	[CountryCode] [nvarchar](2) NULL,
 CONSTRAINT [PK_C71_Seller_segment] PRIMARY KEY CLUSTERED 
(
	[Identification_segment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[xC71_Seller_segment] ([Name], [Address], [Identification_segment_Id], [CountryCode]) VALUES (N'Various', N'USA', 81, NULL)
INSERT [dbo].[xC71_Seller_segment] ([Name], [Address], [Identification_segment_Id], [CountryCode]) VALUES (N'Indel Webasto Marine USA', N'Ref:30-15861
3400 Gateway Drive, Unit 107, Pompano Beach, FL 33069
,US
', 82, NULL)
INSERT [dbo].[xC71_Seller_segment] ([Name], [Address], [Identification_segment_Id], [CountryCode]) VALUES (N'Indel Webasto Marine USA', N'Ref:30-15861
3400 Gateway Drive, Unit 107, Pompano Beach, FL 33069
,US
', 83, NULL)
GO
ALTER TABLE [dbo].[xC71_Seller_segment]  WITH CHECK ADD  CONSTRAINT [Identification_segment_Seller_segment] FOREIGN KEY([Identification_segment_Id])
REFERENCES [dbo].[xC71_Identification_segment] ([Identification_segment_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[xC71_Seller_segment] CHECK CONSTRAINT [Identification_segment_Seller_segment]
GO
