USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[TariffCodeRequiredAttachments]    Script Date: 3/27/2025 1:48:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TariffCodeRequiredAttachments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TariffCode] [nvarchar](50) NOT NULL,
	[AttachmentCodeId] [int] NOT NULL,
 CONSTRAINT [PK_TariffCodeRequiredAttachments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TariffCodeRequiredAttachments] ON 

INSERT [dbo].[TariffCodeRequiredAttachments] ([Id], [TariffCode], [AttachmentCodeId]) VALUES (1, N'32082030', 9)
INSERT [dbo].[TariffCodeRequiredAttachments] ([Id], [TariffCode], [AttachmentCodeId]) VALUES (2, N'32082020', 9)
INSERT [dbo].[TariffCodeRequiredAttachments] ([Id], [TariffCode], [AttachmentCodeId]) VALUES (4, N'01042010', 9)
GO
SET IDENTITY_INSERT [dbo].[TariffCodeRequiredAttachments] OFF
GO
ALTER TABLE [dbo].[TariffCodeRequiredAttachments]  WITH CHECK ADD  CONSTRAINT [FK_TariffCodeRequiredAttachments_AttachmentCodes] FOREIGN KEY([AttachmentCodeId])
REFERENCES [dbo].[AttachmentCodes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TariffCodeRequiredAttachments] CHECK CONSTRAINT [FK_TariffCodeRequiredAttachments_AttachmentCodes]
GO
ALTER TABLE [dbo].[TariffCodeRequiredAttachments]  WITH CHECK ADD  CONSTRAINT [FK_TariffCodeRequiredAttachments_TariffCodes] FOREIGN KEY([TariffCode])
REFERENCES [dbo].[TariffCodes] ([TariffCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TariffCodeRequiredAttachments] CHECK CONSTRAINT [FK_TariffCodeRequiredAttachments_TariffCodes]
GO
