USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[OCR-FieldMappings]    Script Date: 3/27/2025 1:48:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCR-FieldMappings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](50) NOT NULL,
	[Field] [nvarchar](50) NOT NULL,
	[EntityType] [nvarchar](50) NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[DataType] [nvarchar](50) NOT NULL,
	[AppendValues] [bit] NULL,
	[FileTypeId] [int] NOT NULL,
 CONSTRAINT [PK_OCR-FieldMappings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OCR-FieldMappings] ON 

INSERT [dbo].[OCR-FieldMappings] ([Id], [Key], [Field], [EntityType], [IsRequired], [DataType], [AppendValues], [FileTypeId]) VALUES (1, N'InvoiceTotal', N'InvoiceTotal', N'Invoice', 1, N'String', NULL, 1147)
INSERT [dbo].[OCR-FieldMappings] ([Id], [Key], [Field], [EntityType], [IsRequired], [DataType], [AppendValues], [FileTypeId]) VALUES (2, N'InvoiceNo', N'InvoiceNo', N'Invoice', 1, N'String', NULL, 1147)
INSERT [dbo].[OCR-FieldMappings] ([Id], [Key], [Field], [EntityType], [IsRequired], [DataType], [AppendValues], [FileTypeId]) VALUES (3, N'InvoiceDate', N'InvoiceDate', N'Invoice', 1, N'Date', NULL, 1147)
SET IDENTITY_INSERT [dbo].[OCR-FieldMappings] OFF
GO
ALTER TABLE [dbo].[OCR-FieldMappings]  WITH CHECK ADD  CONSTRAINT [FK_OCR-FieldMappings_FileTypes] FOREIGN KEY([FileTypeId])
REFERENCES [dbo].[FileTypes] ([Id])
GO
ALTER TABLE [dbo].[OCR-FieldMappings] CHECK CONSTRAINT [FK_OCR-FieldMappings_FileTypes]
GO
