USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 3/27/2025 1:48:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierCode] [nvarchar](100) NOT NULL,
	[SupplierName] [nvarchar](510) NULL,
	[Street] [nvarchar](100) NULL,
	[City] [nvarchar](38) NULL,
	[CountryCode] [nvarchar](3) NULL,
	[Country] [nvarchar](100) NULL,
	[ApplicationSettingsId] [int] NOT NULL,
 CONSTRAINT [PK_Suppliers_1] PRIMARY KEY CLUSTERED 
(
	[SupplierCode] ASC,
	[ApplicationSettingsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Suppliers] ([SupplierCode], [SupplierName], [Street], [City], [CountryCode], [Country], [ApplicationSettingsId]) VALUES (N'3M', N'3M Global Channel Services, Inc.', N'3M Center, I-94 and McKnight RD St Paul, MN 55144-1000 USA', NULL, N'US', NULL, 2)
INSERT [dbo].[Suppliers] ([SupplierCode], [SupplierName], [Street], [City], [CountryCode], [Country], [ApplicationSettingsId]) VALUES (N'3M', NULL, NULL, NULL, NULL, NULL, 3)
INSERT [dbo].[Suppliers] ([SupplierCode], [SupplierName], [Street], [City], [CountryCode], [Country], [ApplicationSettingsId]) VALUES (N'4IMPRINT', N'4IMPRINT', N'101 Commerce St, PO Box 320, Oshkosh, WI 54901', NULL, N'US', NULL, 2)
GO
