USE [WebSource-AutoBot]
GO
/****** Object:  View [dbo].[StMarteenInventory-Classifier-NoCategoryLimit]    Script Date: 3/27/2025 1:48:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[StMarteenInventory-Classifier-NoCategoryLimit]
AS

select * from 
(select *, row_number() over(partition by [Internal Reference] order by[Rank] desc) as row1 from 
(SELECT  dbo.StMarteenInventory.[Internal Reference], dbo.StMarteenInventory.Name,[Primary Desc],[Category ID],  dbo.TariffCodes.TariffCode, KeyWords.Keyword, KeyWords.IsException
,
				 (RANk() over (Partition by [Internal Reference] order by isnull(TarrifKeyWordCategory.TariffCategoryCode,'9999'),len(isnull(keywords.keyword, exceptions.keyword))))  as Rank
FROM    dbo.TariffCodes INNER JOIN
                     (SELECT Id, TariffCode, Keyword, IsException, ApplicationSettingsId
                      FROM     dbo.TariffKeyWords
                      WHERE  (IsException = 0)) AS KeyWords ON dbo.TariffCodes.TariffCode = KeyWords.TariffCode LEFT OUTER JOIN
                     (SELECT Id, TariffCode, Keyword, IsException, ApplicationSettingsId
                      FROM     dbo.TariffKeyWords AS TariffKeyWords_1
                      WHERE  (IsException = 1)) AS Exceptions ON dbo.TariffCodes.TariffCode = Exceptions.TariffCode RIGHT OUTER JOIN
                 dbo.StMarteenInventory ON (Exceptions.Keyword IS NULL or
                  CHARINDEX(Exceptions.Keyword, 
                 dbo.StMarteenInventory.Name) <= 0) AND CHARINDEX(KeyWords.Keyword, dbo.StMarteenInventory.Name) > 0 left OUTER JOIN
				 TarrifKeyWordCategory on StMarteenInventory.[Category ID] = TarrifKeyWordCategory.CategoryId 
	--where  (TarrifKeyWordCategory.TariffCategoryCode is null or TariffCodes.TariffCategoryCode is null  or TariffCodes.TariffCategoryCode = TarrifKeyWordCategory.TariffCategoryCode) 
				 ) as t) as tt
where row1 = 1

--SELECT StMarteenInventory.[Internal Reference], StMarteenInventory.Name, StMarteenInventory.[Primary Desc], StMarteenInventory.[Category ID], TariffCodes.TariffCode, KeyWords.Keyword, KeyWords.IsException
--,
--				 (RANk() over (Partition by [Internal Reference] order by isnull(TarrifKeyWordCategory.TariffCategoryCode,'9999'),len(isnull(keywords.keyword, exceptions.keyword))))  as Rank


--FROM    TarrifKeyWordCategory RIGHT OUTER JOIN
--                 StMarteenInventory ON TarrifKeyWordCategory.CategoryId = StMarteenInventory.[Category ID] LEFT OUTER JOIN
--                 TariffCodes INNER JOIN
--                     (SELECT Id, TariffCode, Keyword, IsException, ApplicationSettingsId
--                      FROM     TariffKeyWords
--                      WHERE  (IsException = 0)) AS KeyWords ON TariffCodes.TariffCode = KeyWords.TariffCode LEFT OUTER JOIN
--                     (SELECT Id, TariffCode, Keyword, IsException, ApplicationSettingsId
--                      FROM     TariffKeyWords AS TariffKeyWords_1
--                      WHERE  (IsException = 1)) AS Exceptions ON TariffCodes.TariffCode = Exceptions.TariffCode ON (Exceptions.Keyword IS NULL OR
--                 CHARINDEX(Exceptions.Keyword, StMarteenInventory.Name) <= 0) AND CHARINDEX(KeyWords.Keyword, StMarteenInventory.Name) > 0
GO
