USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[shipping Discrepancies April-October 2019 for budget-fromkim]    Script Date: 3/27/2025 1:48:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipping Discrepancies April-October 2019 for budget-fromkim](
	[Over_Shorts] [nvarchar](50) NOT NULL,
	[INVOICE__] [nvarchar](50) NULL,
	[Vendor] [nvarchar](50) NULL,
	[Supplier_ID] [nvarchar](50) NULL,
	[PO__] [int] NULL,
	[ITEM_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](100) NOT NULL,
	[INV__QTY] [int] NOT NULL,
	[REC_D_QTY] [int] NOT NULL,
	[SYSTEM] [nvarchar](50) NULL,
	[ON_HAND] [nvarchar](50) NULL,
	[COST_USD] [nvarchar](50) NULL,
	[LOT_NUMBER] [nvarchar](50) NULL,
	[Subject] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[shipping Discrepancies April-October 2019 for budget-fromkim] ([Over_Shorts], [INVOICE__], [Vendor], [Supplier_ID], [PO__], [ITEM_CODE], [DESCRIPTION], [INV__QTY], [REC_D_QTY], [SYSTEM], [ON_HAND], [COST_USD], [LOT_NUMBER], [Subject]) VALUES (N'Short', N'53371108', N'MARINCO ELECTRICAL GROUP', N'199210', 7005522, N'MAR/199210', N'Cable-Tie, 11"" UVR Black  25/Pk', 12, 10, NULL, NULL, N'$1.07 ', N'C17035', N'Fw: MARINCO ELECTRICAL GROUP Shipment Discrepancy')
INSERT [dbo].[shipping Discrepancies April-October 2019 for budget-fromkim] ([Over_Shorts], [INVOICE__], [Vendor], [Supplier_ID], [PO__], [ITEM_CODE], [DESCRIPTION], [INV__QTY], [REC_D_QTY], [SYSTEM], [ON_HAND], [COST_USD], [LOT_NUMBER], [Subject]) VALUES (N'Short', N'119353', NULL, NULL, 7005678, N'FAS/SSMC8X40', N'Countersunk Screw, SS Flat/H Allen-Socket M08 x 40', 100, 97, NULL, NULL, N'$0.15 ', N'C21379,C22436,C22575', N'Fw: April Container Discrepancies 2019')
INSERT [dbo].[shipping Discrepancies April-October 2019 for budget-fromkim] ([Over_Shorts], [INVOICE__], [Vendor], [Supplier_ID], [PO__], [ITEM_CODE], [DESCRIPTION], [INV__QTY], [REC_D_QTY], [SYSTEM], [ON_HAND], [COST_USD], [LOT_NUMBER], [Subject]) VALUES (N'Short', N'119353', NULL, NULL, 7005678, N'SNS/50091443', N'Mixing-Bottle, f/Oil-Mixture Measure', 6, 5, NULL, NULL, N'$2.03 ', N'C22379,C22436,C22575', N'Fw: April Container Discrepancies 2019')
GO
