<#@ template language="C#" debug="true" hostspecific="true"#>
<#@ output extension=".cs"#>
<#@ include file="C:\Prism\Core.Common\T4 Library\T4\DataSpaceViewModels.tt"#>
<#
    CreateViewModels("WaterNut",@"C:\prism\WaterNut - Enterprise\EntryDataDS\EntryDataDS.edmx",
                     @"C:\Prism\WaterNut - Enterprise\EntryDataDS\EntryDataDS.edmx",
                     @"C:\Prism\WaterNut - Enterprise\WaterNut.Business.Services\WaterNut.Business.Services.csproj" );          
#>