<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
		<section name="AutoBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</sectionGroup>
	</configSections>

	<connectionStrings>
		<add name="WaterNutDBEntities" connectionString="metadata=res://*/WaterNutDB.csdl|res://*/WaterNutDB.ssdl|res://*/WaterNutDB.msl;provider=System.Data.SqlClient;provider connection string='data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="AllocationDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="AllocationQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="CoreEntities" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="OCR" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="CounterPointQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="DocumentDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="DocumentItemDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="EntryDataDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="EntryDataQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="InventoryQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="InventoryDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="AdjustmentQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="PreviousDocumentQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="PreviousDocumentDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="QuickBooksDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="SalesDataQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="ValuationDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="LicenseDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=WebSource-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!--<connectionStrings>
		<add name="WaterNutDBEntities" connectionString="metadata=res://*/WaterNutDB.csdl|res://*/WaterNutDB.ssdl|res://*/WaterNutDB.msl;provider=System.Data.SqlClient;provider connection string='data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="AllocationDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="AllocationQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="CoreEntities" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="OCR" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="CounterPointQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="DocumentDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="DocumentItemDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="EntryDataDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="EntryDataQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="InventoryQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="InventoryDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="AdjustmentQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="PreviousDocumentQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="PreviousDocumentDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="QuickBooksDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="SalesDataQS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="ValuationDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="LicenseDS" connectionString="data source=MINIJOE\SQLDEVELOPER2022;initial catalog=AutoBrokerage-AutoBot;user=sa;password=pa$$word;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>-->

</configuration>