<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="SimpleMvvmToolkit" version="5.5.1.0" targetFramework="net45" />
  <package id="TrackableEntities.Client" version="2.5.7" targetFramework="net462" />
  <package id="TrackableEntities.Common" version="2.5.7" targetFramework="net462" />
</packages>