<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>

<#+
// <copyright file="GetTypeName.tt" company="">
//  Copyright © . All Rights Reserved.
// </copyright>
    public  string GetTypeName(EntityType entity)
    {
        if(entity.BaseType == null)
        {
            return entity.Name;
        }
         else
        {
            GetTypeName(entity.BaseType);
        }

    }
#>
