<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="WaterNut.Properties.Settings.WaterNutDbConnection" connectionString="Data Source=ALPHAQUEST-PC\SQLEXPRESS2012;initial catalog=WaterNutDB-Enterprise;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="WaterNutDBEntities" connectionString="metadata=res://*/DataLayer.WaterNutDB.csdl|res://*/DataLayer.WaterNutDB.ssdl|res://*/DataLayer.WaterNutDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=alphaquest-PC\SQLEXPRESS2012;initial catalog=JeansCoDB;user=sa;Connection Timeout=0;password=pa$$word;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WaterNut.Properties.Settings.WaterNutDBEntitiesConnection" connectionString="metadata=res://*/DataLayer.WaterNutDB.csdl|res://*/DataLayer.WaterNutDB.ssdl|res://*/DataLayer.WaterNutDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=alphaquest-PC\SQLEXPRESS2012;initial catalog=JeansCoDB;Connection Timeout=0;user=sa;password=pa$$word;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="InsightPresentationLayer.Properties.Settings.WaterNutDBEntitiesConnection" connectionString="metadata=res://*/DataLayer.WaterNutDB.csdl|res://*/DataLayer.WaterNutDB.ssdl|res://*/DataLayer.WaterNutDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=alphaquest-PC\SQLEXPRESS2012;initial catalog=JeansCoDB;Connection Timeout=0;user=sa;password=pa$$word;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>