<#@ template language="C#" debug="false" hostspecific="true"#>
<#= this.Host.ResolveParameterValue("-", "-", "projects") #>
<#@ output extension=".cs"#>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="..\Core.Common\T4 Library\T4\DbContextMappings.tt" #>
<#
	
    string[] strs = new string[] {  "AllocationDS","AllocationQS","CounterPointQS","CoreEntities", "EntryDataQS"
                                    , "InventoryQS", "PreviousDocumentQS", "SalesDataQS", "DocumentDS", "DocumentItemDS",
                                    "EntryDataDS", "InventoryDS", "PreviousDocumentDS", "QuickBooksDS", "AdjustmentQS",
                                    "ValuationDS", "LicenseDS"
                                 };

    foreach (var conTextname in strs)
    {
        DbContextMappingsTPL sv = new DbContextMappingsTPL(); 
        sv.inputFile = this.Host.ResolvePath(@"..\" + conTextname + @"\" + conTextname +".edmx");
        sv.coreEdmx = this.Host.ResolvePath(string.Format(@"..\{0}\{0}.edmx", conTextname));
        sv.outputProject = this.Host.ResolvePath(@"..\WaterNut.Business.Entities\WaterNut.Business.Entities.csproj"); 
        sv.Output.Project = this.Host.ResolvePath(@"..\WaterNut.Data\WaterNut.Data.csproj");
        sv.Output.File = this.Host.ResolvePath(@"..\WaterNut.Data\DbContextMappings\" + conTextname + ".Mappings.cs");
        sv.Render();
        
    }
    
    DbContextMappingsTPL ov = new DbContextMappingsTPL(); 
        ov.inputFile = this.Host.ResolvePath(@"..\CoreEntities\OCR.edmx");
        ov.coreEdmx = this.Host.ResolvePath(@"..\CoreEntities\OCR.edmx");
        ov.outputProject = this.Host.ResolvePath(@"..\WaterNut.Business.Entities\WaterNut.Business.Entities.csproj"); 
        ov.Output.Project = this.Host.ResolvePath(@"..\WaterNut.Data\WaterNut.Data.csproj");
        ov.Output.File = this.Host.ResolvePath(@"..\WaterNut.Data\DbContextMappings\OCR.Mappings.cs");
        ov.Render();



#>
