<#@ template language="C#" debug="true" hostspecific="true"#>
<#@ output extension=".cs"#>
<#@ include file="C:\Prism\Core.Common\T4 Library\T4\BusinessEntities.tt" #>
<#
    CreateBusinessEntities("WaterNut", @"InventoryQS.edmx",
                           @"C:\Prism\WaterNut - Enterprise\CoreEntities\CoreEntities.edmx",
                           @"C:\Prism\WaterNut - Enterprise\WaterNut.Business.Entities\WaterNut.Business.Entities.csproj");          
#>