USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[OCR-Lines]    Script Date: 4/8/2025 8:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCR-Lines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PartId] [int] NOT NULL,
	[RegExId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ParentId] [int] NULL,
	[DistinctValues] [bit] NULL,
	[IsColumn] [bit] NULL,
	[IsActive] [bit] NULL,
	[Comments] [nvarchar](255) NULL,
 CONSTRAINT [PK_OCR-Lines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OCR-Lines] ON 

INSERT [dbo].[OCR-Lines] ([Id], [PartId], [RegExId], [Name], [ParentId], [DistinctValues], [IsColumn], [IsActive], [Comments]) VALUES (1, 5, 4, N'Summary', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[OCR-Lines] ([Id], [PartId], [RegExId], [Name], [ParentId], [DistinctValues], [IsColumn], [IsActive], [Comments]) VALUES (4, 6, 8, N'SupplierName', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[OCR-Lines] ([Id], [PartId], [RegExId], [Name], [ParentId], [DistinctValues], [IsColumn], [IsActive], [Comments]) VALUES (5, 6, 9, N'Address', NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[OCR-Lines] OFF
GO
ALTER TABLE [dbo].[OCR-Lines]  WITH CHECK ADD  CONSTRAINT [FK_OCR-Lines_OCR-Lines] FOREIGN KEY([ParentId])
REFERENCES [dbo].[OCR-Lines] ([Id])
GO
ALTER TABLE [dbo].[OCR-Lines] CHECK CONSTRAINT [FK_OCR-Lines_OCR-Lines]
GO
ALTER TABLE [dbo].[OCR-Lines]  WITH CHECK ADD  CONSTRAINT [FK_OCR-Lines_OCR-Parts] FOREIGN KEY([PartId])
REFERENCES [dbo].[OCR-Parts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OCR-Lines] CHECK CONSTRAINT [FK_OCR-Lines_OCR-Parts]
GO
ALTER TABLE [dbo].[OCR-Lines]  WITH CHECK ADD  CONSTRAINT [FK_OCR-Lines_OCR-RegularExpressions] FOREIGN KEY([RegExId])
REFERENCES [dbo].[OCR-RegularExpressions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OCR-Lines] CHECK CONSTRAINT [FK_OCR-Lines_OCR-RegularExpressions]
GO
