USE [WebSource-AutoBot]
GO
/****** Object:  View [dbo].[AdjustmentShorts]    Script Date: 4/8/2025 8:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[AdjustmentShorts]
AS
SELECT EntryDataDetailsId, EntryData_Id, EntryDataId, LineNumber, ItemNumber, Quantity * - 1 AS Quantity, Units, ItemDescription, Cost, QtyAllocated, UnitWeight, DoNotAllocate, TariffCode, Total, AsycudaDocumentSetId, InvoiceQty, 
                 ReceivedQty, Status, PreviousInvoiceNumber, CNumber, CLineNumber, Downloaded,IsReconciled, PreviousCNumber, DutyFreePaid, Comment, EffectiveDate, Currency, ApplicationSettingsId, Type, EmailId, FileTypeId, InvoiceDate, 
                 Subject, EmailDate
FROM    dbo.AdjustmentDetails WITH (NOLOCK)
where isnull(AdjustmentDetails.DoNotAllocate,0) <> 1
GROUP BY EntryDataDetailsId, EntryDataId, LineNumber, ItemNumber, Units, ItemDescription, Cost, QtyAllocated, UnitWeight, TariffCode, Total, AsycudaDocumentSetId, InvoiceQty, ReceivedQty, Status, 
                 PreviousInvoiceNumber, CNumber, CLineNumber, PreviousCNumber, DutyFreePaid, Comment, EffectiveDate, Currency, IsReconciled,ApplicationSettingsId, DoNotAllocate, Downloaded, Quantity, Type, EmailId, FileTypeId, 
                 InvoiceDate, Subject, EmailDate, EntryData_Id
HAVING (Quantity < 0)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[23] 4[39] 2[19] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "AdjustmentDetails"
            Begin Extent = 
               Top = 6
               Left = 584
               Bottom = 161
               Right = 823
            End
            DisplayFlags = 280
            TopColumn = 30
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 27
         Width = 284
         Width = 1309
         Width = 2055
         Width = 1309
         Width = 1807
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 2671
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 9530
         Alias = 903
         Table = 2160
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1348
         SortOrder = 1414
         GroupBy = 1350
         Filter = 6166
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'AdjustmentShorts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'AdjustmentShorts'
GO
