USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[ShipmentFreight]    Script Date: 4/8/2025 8:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipmentFreight](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BLNumber] [nvarchar](50) NULL,
	[Consignee] [nvarchar](1000) NOT NULL,
	[Currency] [nvarchar](3) NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[InvoiceDate] [date] NOT NULL,
	[DueDate] [date] NOT NULL,
	[InvoiceTotal] [float] NOT NULL,
	[ETA] [date] NOT NULL,
	[EmailId] [nvarchar](255) NULL,
	[SourceFile] [nvarchar](max) NOT NULL,
	[ApplicationSettingsId] [int] NULL,
	[FileTypeId] [int] NOT NULL,
 CONSTRAINT [PK_ShipmentFreight] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ShipmentFreight] ON 

INSERT [dbo].[ShipmentFreight] ([Id], [BLNumber], [Consignee], [Currency], [InvoiceNumber], [InvoiceDate], [DueDate], [InvoiceTotal], [ETA], [EmailId], [SourceFile], [ApplicationSettingsId], [FileTypeId]) VALUES (40, N'SUCR459387', N'Nicholas George/Roberta', N'XCD', N'1212', CAST(N'2021-02-11' AS Date), CAST(N'2021-02-26' AS Date), 125.23, CAST(N'2021-02-11' AS Date), N'224', N'C:\Users\josep\OneDrive\Clients\Portage\Emails\Shipments\224\SUCR459387-Freight.pdf', 3, 99)
INSERT [dbo].[ShipmentFreight] ([Id], [BLNumber], [Consignee], [Currency], [InvoiceNumber], [InvoiceDate], [DueDate], [InvoiceTotal], [ETA], [EmailId], [SourceFile], [ApplicationSettingsId], [FileTypeId]) VALUES (41, N'SUCR459387', N'Kani Renwick', N'XCD', N'1213', CAST(N'2021-02-11' AS Date), CAST(N'2021-02-26' AS Date), 123.32, CAST(N'2021-02-11' AS Date), N'224', N'C:\Users\josep\OneDrive\Clients\Portage\Emails\Shipments\224\SUCR459387-Freight.pdf', 3, 99)
INSERT [dbo].[ShipmentFreight] ([Id], [BLNumber], [Consignee], [Currency], [InvoiceNumber], [InvoiceDate], [DueDate], [InvoiceTotal], [ETA], [EmailId], [SourceFile], [ApplicationSettingsId], [FileTypeId]) VALUES (42, N'SUCR459387', N'Portage Import, Exporté&', N'XCD', N'1214', CAST(N'2021-02-11' AS Date), CAST(N'2021-02-26' AS Date), 139.17, CAST(N'2021-02-11' AS Date), N'224', N'C:\Users\josep\OneDrive\Clients\Portage\Emails\Shipments\224\SUCR459387-Freight.pdf', 3, 99)
SET IDENTITY_INSERT [dbo].[ShipmentFreight] OFF
GO
