USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[OCR-Parts]    Script Date: 4/8/2025 8:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCR-Parts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TemplateId] [int] NOT NULL,
	[PartTypeId] [int] NOT NULL,
 CONSTRAINT [PK_OCR-TemplateLines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OCR-Parts] ON 

INSERT [dbo].[OCR-Parts] ([Id], [TemplateId], [PartTypeId]) VALUES (4, 1, 1)
INSERT [dbo].[OCR-Parts] ([Id], [TemplateId], [PartTypeId]) VALUES (5, 1, 2)
INSERT [dbo].[OCR-Parts] ([Id], [TemplateId], [PartTypeId]) VALUES (6, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[OCR-Parts] OFF
GO
ALTER TABLE [dbo].[OCR-Parts]  WITH CHECK ADD  CONSTRAINT [FK_OCR-Parts_OCR-Invoices] FOREIGN KEY([TemplateId])
REFERENCES [dbo].[OCR-Invoices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OCR-Parts] CHECK CONSTRAINT [FK_OCR-Parts_OCR-Invoices]
GO
ALTER TABLE [dbo].[OCR-Parts]  WITH CHECK ADD  CONSTRAINT [FK_OCR-Parts_OCR-PartTypes] FOREIGN KEY([PartTypeId])
REFERENCES [dbo].[OCR-PartTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OCR-Parts] CHECK CONSTRAINT [FK_OCR-Parts_OCR-PartTypes]
GO
