USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[FileTypeMappings]    Script Date: 4/8/2025 8:33:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileTypeMappings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileTypeId] [int] NOT NULL,
	[OriginalName] [nvarchar](50) NOT NULL,
	[DestinationName] [nvarchar](50) NOT NULL,
	[DataType] [nvarchar](50) NOT NULL,
	[Required] [bit] NOT NULL,
	[Comments] [nvarchar](255) NULL,
	[ReplaceOnlyNulls] [bit] NOT NULL,
	[ReplicateColumnValues] [bit] NOT NULL,
 CONSTRAINT [PK_FileTypeMappings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FileTypeMappings] ON 

INSERT [dbo].[FileTypeMappings] ([Id], [FileTypeId], [OriginalName], [DestinationName], [DataType], [Required], [Comments], [ReplaceOnlyNulls], [ReplicateColumnValues]) VALUES (192, 114, N'Order Reference', N'EntryDataId', N'String', 0, NULL, 0, 0)
INSERT [dbo].[FileTypeMappings] ([Id], [FileTypeId], [OriginalName], [DestinationName], [DataType], [Required], [Comments], [ReplaceOnlyNulls], [ReplicateColumnValues]) VALUES (193, 114, N'Date', N'EntryDataDate', N'Date', 0, NULL, 0, 0)
INSERT [dbo].[FileTypeMappings] ([Id], [FileTypeId], [OriginalName], [DestinationName], [DataType], [Required], [Comments], [ReplaceOnlyNulls], [ReplicateColumnValues]) VALUES (194, 114, N'Order Lines/Unit Price', N'Cost', N'Number', 0, NULL, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[FileTypeMappings] OFF
GO
ALTER TABLE [dbo].[FileTypeMappings] ADD  CONSTRAINT [DF_FileTypeMappings_ReplaceOnlyNulls]  DEFAULT ((0)) FOR [ReplaceOnlyNulls]
GO
ALTER TABLE [dbo].[FileTypeMappings] ADD  CONSTRAINT [DF_FileTypeMappings_ReplicateColumnValues]  DEFAULT ((0)) FOR [ReplicateColumnValues]
GO
ALTER TABLE [dbo].[FileTypeMappings]  WITH NOCHECK ADD  CONSTRAINT [FK_FileTypeMappings_FileTypes] FOREIGN KEY([FileTypeId])
REFERENCES [dbo].[FileTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FileTypeMappings] CHECK CONSTRAINT [FK_FileTypeMappings_FileTypes]
GO
