USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[OCR-Invoices]    Script Date: 4/8/2025 8:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCR-Invoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[FileTypeId] [int] NOT NULL,
	[ApplicationSettingsId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_OCR-Templates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OCR-Invoices] ON 

INSERT [dbo].[OCR-Invoices] ([Id], [Name], [FileTypeId], [ApplicationSettingsId], [IsActive]) VALUES (1, N'Budget Invoice', 1147, 3, 0)
INSERT [dbo].[OCR-Invoices] ([Id], [Name], [FileTypeId], [ApplicationSettingsId], [IsActive]) VALUES (3, N'International', 1147, 3, 1)
INSERT [dbo].[OCR-Invoices] ([Id], [Name], [FileTypeId], [ApplicationSettingsId], [IsActive]) VALUES (5, N'Amazon', 1147, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[OCR-Invoices] OFF
GO
ALTER TABLE [dbo].[OCR-Invoices]  WITH NOCHECK ADD  CONSTRAINT [FK_OCR-Invoices_FileTypes] FOREIGN KEY([FileTypeId])
REFERENCES [dbo].[FileTypes] ([Id])
GO
ALTER TABLE [dbo].[OCR-Invoices] CHECK CONSTRAINT [FK_OCR-Invoices_FileTypes]
GO
