USE [WebSource-AutoBot]
GO
/****** Object:  View [dbo].[InventoryItemsEx]    Script Date: 4/8/2025 8:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[InventoryItemsEx]
AS
SELECT InventoryItems.Id as InventoryItemId, dbo.InventoryItems.ItemNumber, dbo.InventoryItems.Description, dbo.InventoryItems.Category, dbo.InventoryItems.TariffCode, dbo.InventoryItems.EntryTimeStamp, dbo.TariffSupUnitLkps.SuppUnitCode2, 
                 dbo.TariffSupUnitLkps.SuppQty, dbo.InventoryItems.ApplicationSettingsId
FROM    dbo.TariffCategoryCodeSuppUnit INNER JOIN
                 dbo.TariffCategory ON dbo.TariffCategoryCodeSuppUnit.TariffCategoryCode = dbo.TariffCategory.TariffCategoryCode INNER JOIN
                 dbo.TariffCodes ON dbo.TariffCategory.TariffCategoryCode = dbo.TariffCodes.TariffCategoryCode INNER JOIN
                 dbo.TariffSupUnitLkps ON dbo.TariffCategoryCodeSuppUnit.Id = dbo.TariffSupUnitLkps.Id RIGHT OUTER JOIN
                 dbo.InventoryItems WITH (NOLOCK) ON dbo.TariffCodes.TariffCode = dbo.InventoryItems.TariffCode
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[13] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TariffCategoryCodeSuppUnit"
            Begin Extent = 
               Top = 118
               Left = 1593
               Bottom = 231
               Right = 1786
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TariffCategory"
            Begin Extent = 
               Top = 187
               Left = 1143
               Bottom = 317
               Right = 1370
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TariffCodes"
            Begin Extent = 
               Top = 80
               Left = 905
               Bottom = 210
               Right = 1116
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TariffSupUnitLkps"
            Begin Extent = 
               Top = 16
               Left = 1464
               Bottom = 146
               Right = 1640
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "InventoryItems"
            Begin Extent = 
               Top = 21
               Left = 475
               Bottom = 257
               Right = 727
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1008
         Width = 1008
         Width = 1008
         Width = 1008
         Width = 1008
         Width = 1937
         Width = 1008
         Width = 1008
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'InventoryItemsEx'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'1
         Column = 1440
         Alias = 903
         Table = 1165
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1348
         SortOrder = 1414
         GroupBy = 1350
         Filter = 1348
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'InventoryItemsEx'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'InventoryItemsEx'
GO
