USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[xC71_Value_declaration_form]    Script Date: 4/8/2025 8:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xC71_Value_declaration_form](
	[Value_declaration_form_Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_C71_Value_declaration_form] PRIMARY KEY CLUSTERED 
(
	[Value_declaration_form_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[xC71_Value_declaration_form] ON 

INSERT [dbo].[xC71_Value_declaration_form] ([Value_declaration_form_Id]) VALUES (81)
INSERT [dbo].[xC71_Value_declaration_form] ([Value_declaration_form_Id]) VALUES (82)
INSERT [dbo].[xC71_Value_declaration_form] ([Value_declaration_form_Id]) VALUES (83)
GO
SET IDENTITY_INSERT [dbo].[xC71_Value_declaration_form] OFF
GO
