USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[OCR-InvoiceRegEx]    Script Date: 4/2/2025 6:32:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCR-InvoiceRegEx](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[RegExId] [int] NOT NULL,
	[ReplacementRegExId] [int] NOT NULL,
 CONSTRAINT [PK_OCR-InvoiceRegEx] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OCR-InvoiceRegEx] ON 

INSERT [dbo].[OCR-InvoiceRegEx] ([Id], [InvoiceId], [RegExId], [ReplacementRegExId]) VALUES (1, 10, 140, 60)
INSERT [dbo].[OCR-InvoiceRegEx] ([Id], [InvoiceId], [RegExId], [ReplacementRegExId]) VALUES (2, 12, 153, 60)
INSERT [dbo].[OCR-InvoiceRegEx] ([Id], [InvoiceId], [RegExId], [ReplacementRegExId]) VALUES (3, 12, 352, 60)
SET IDENTITY_INSERT [dbo].[OCR-InvoiceRegEx] OFF
GO
ALTER TABLE [dbo].[OCR-InvoiceRegEx]  WITH CHECK ADD  CONSTRAINT [FK_OCR-InvoiceRegEx_OCR-Invoices] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[OCR-Invoices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OCR-InvoiceRegEx] CHECK CONSTRAINT [FK_OCR-InvoiceRegEx_OCR-Invoices]
GO
ALTER TABLE [dbo].[OCR-InvoiceRegEx]  WITH CHECK ADD  CONSTRAINT [FK_OCR-InvoiceRegEx_OCR-RegularExpressions] FOREIGN KEY([RegExId])
REFERENCES [dbo].[OCR-RegularExpressions] ([Id])
GO
ALTER TABLE [dbo].[OCR-InvoiceRegEx] CHECK CONSTRAINT [FK_OCR-InvoiceRegEx_OCR-RegularExpressions]
GO
ALTER TABLE [dbo].[OCR-InvoiceRegEx]  WITH CHECK ADD  CONSTRAINT [FK_OCR-InvoiceRegEx_OCR-RegularExpressions1] FOREIGN KEY([ReplacementRegExId])
REFERENCES [dbo].[OCR-RegularExpressions] ([Id])
GO
ALTER TABLE [dbo].[OCR-InvoiceRegEx] CHECK CONSTRAINT [FK_OCR-InvoiceRegEx_OCR-RegularExpressions1]
GO
