USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[OCRCorrectionLearning]    Script Date: 6/6/2025 4:59:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCRCorrectionLearning](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FieldName] [nvarchar](255) NOT NULL,
	[OriginalError] [nvarchar](max) NULL,
	[CorrectValue] [nvarchar](max) NULL,
	[LineNumber] [int] NULL,
	[LineText] [nvarchar](max) NULL,
	[WindowText] [nvarchar](max) NULL,
	[CorrectionType] [nvarchar](100) NULL,
	[DeepSeekReasoning] [nvarchar](max) NULL,
	[Confidence] [decimal](5, 4) NULL,
	[InvoiceType] [nvarchar](100) NULL,
	[FilePath] [nvarchar](500) NULL,
	[Success] [bit] NOT NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[RequiresMultilineRegex] [bit] NULL,
	[ContextLinesBefore] [nvarchar](max) NULL,
	[ContextLinesAfter] [nvarchar](max) NULL,
	[LineId] [int] NULL,
	[PartId] [int] NULL,
	[RegexId] [int] NULL,
 CONSTRAINT [PK_OCRCorrectionLearning1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OCRCorrectionLearning] ON 

SET IDENTITY_INSERT [dbo].[OCRCorrectionLearning] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OCRCorrectionLearning_CorrectionType]    Script Date: 6/6/2025 4:59:24 AM ******/
CREATE NONCLUSTERED INDEX [IX_OCRCorrectionLearning_CorrectionType] ON [dbo].[OCRCorrectionLearning]
(
	[CorrectionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OCRCorrectionLearning_CreatedDate]    Script Date: 6/6/2025 4:59:24 AM ******/
CREATE NONCLUSTERED INDEX [IX_OCRCorrectionLearning_CreatedDate] ON [dbo].[OCRCorrectionLearning]
(
	[CreatedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OCRCorrectionLearning_FieldName]    Script Date: 6/6/2025 4:59:24 AM ******/
CREATE NONCLUSTERED INDEX [IX_OCRCorrectionLearning_FieldName] ON [dbo].[OCRCorrectionLearning]
(
	[FieldName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OCRCorrectionLearning_FilePath]    Script Date: 6/6/2025 4:59:24 AM ******/
CREATE NONCLUSTERED INDEX [IX_OCRCorrectionLearning_FilePath] ON [dbo].[OCRCorrectionLearning]
(
	[FilePath] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OCRCorrectionLearning] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
