USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[ApplicationSettings]    Script Date: 5/25/2025 9:01:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationSettings](
	[ApplicationSettingsId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[MaxEntryLines] [int] NULL,
	[SoftwareName] [nvarchar](100) NULL,
	[AllowCounterPoint] [nvarchar](10) NULL,
	[GroupEX9] [bit] NULL,
	[InvoicePerEntry] [bit] NULL,
	[AllowTariffCodes] [nvarchar](10) NULL,
	[AllowWareHouse] [nvarchar](10) NULL,
	[AllowXBond] [nvarchar](10) NULL,
	[AllowAsycudaManager] [nvarchar](10) NULL,
	[AllowQuickBooks] [nvarchar](10) NULL,
	[ItemDescriptionContainsAsycudaAttribute] [bit] NULL,
	[AllowExportToExcel] [nvarchar](10) NULL,
	[AllowAutoWeightCalculation] [nvarchar](50) NULL,
	[AllowEntryPerIM7] [nvarchar](50) NULL,
	[AllowSalesToPI] [nvarchar](50) NULL,
	[AllowEffectiveAssessmentDate] [nvarchar](50) NULL,
	[AllowAutoFreightCalculation] [nvarchar](50) NULL,
	[AllowSubItems] [nvarchar](50) NULL,
	[AllowEntryDoNotAllocate] [nvarchar](50) NULL,
	[AllowPreviousItems] [nvarchar](50) NULL,
	[AllowOversShort] [nvarchar](50) NULL,
	[AllowContainers] [nvarchar](50) NULL,
	[AllowNonXEntries] [nvarchar](50) NULL,
	[AllowValidateTariffCodes] [nvarchar](50) NULL,
	[AllowCleanBond] [nvarchar](50) NULL,
	[OrderEntriesBy] [nvarchar](50) NULL,
	[OpeningStockDate] [datetime2](7) NOT NULL,
	[WeightCalculationMethod] [nvarchar](50) NULL,
	[BondQuantum] [float] NULL,
	[DataFolder] [nvarchar](999) NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Email] [nvarchar](255) NULL,
	[EmailPassword] [nvarchar](50) NULL,
	[AsycudaLogin] [nvarchar](50) NULL,
	[AsycudaPassword] [nvarchar](50) NULL,
	[AssessIM7] [bit] NULL,
	[AssessEX] [bit] NULL,
	[TestMode] [bit] NULL,
	[BondTypeId] [int] NOT NULL,
	[RequirePOs] [bit] NULL,
	[ExportNullTariffCodes] [bit] NULL,
	[PreAllocateEx9s] [bit] NULL,
	[AllowImportXSales] [nvarchar](10) NULL,
	[NotifyUnknownMessages] [bit] NULL,
	[ExportExpiredEntries] [bit] NULL,
	[AllowAdvanceWareHouse] [nvarchar](10) NULL,
	[AllowStressTest] [bit] NULL,
	[AllocationsOpeningStockDate] [datetime2](7) NULL,
	[GroupShipmentInvoices] [bit] NULL,
	[UseAIClassification] [bit] NULL,
	[GroupIM4ByCategory] [bit] NULL,
	[ProcessDownloadsFolder] [bit] NULL,
 CONSTRAINT [PK_ApplicationSettings] PRIMARY KEY CLUSTERED 
(
	[ApplicationSettingsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ApplicationSettings] ON 

SET IDENTITY_INSERT [dbo].[ApplicationSettings] OFF
GO
ALTER TABLE [dbo].[ApplicationSettings]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationSettings_BondTypes] FOREIGN KEY([BondTypeId])
REFERENCES [dbo].[BondTypes] ([Id])
GO
ALTER TABLE [dbo].[ApplicationSettings] CHECK CONSTRAINT [FK_ApplicationSettings_BondTypes]
GO
ALTER TABLE [dbo].[ApplicationSettings]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationSettings_WeightCalculationMethods] FOREIGN KEY([WeightCalculationMethod])
REFERENCES [dbo].[WeightCalculationMethods] ([Name])
GO
ALTER TABLE [dbo].[ApplicationSettings] CHECK CONSTRAINT [FK_ApplicationSettings_WeightCalculationMethods]
GO
