USE [WebSource-AutoBot]
GO
/****** Object:  View [dbo].[EntryPreviousItemsEx]    Script Date: 5/25/2025 9:01:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[EntryPreviousItemsEx]
AS
SELECT        dbo.AsycudaItemBasicInfo.CNumber AS pCNumber, dbo.AsycudaItemBasicInfo.LineNumber AS pLineNumber, dbo.PreviousItemsEx.Prev_reg_nbr, dbo.PreviousItemsEx.Prev_reg_year, dbo.PreviousItemsEx.Prev_reg_cuo, 
                         dbo.PreviousItemsEx.Previous_item_number AS xLineNumber, dbo.PreviousItemsEx.ReferenceNumber, dbo.PreviousItemsEx.CNumber AS xCNumber
FROM            dbo.EntryPreviousItems INNER JOIN
                         dbo.PreviousItemsEx ON dbo.EntryPreviousItems.PreviousItem_Id = dbo.PreviousItemsEx.PreviousItem_Id INNER JOIN
                         dbo.AsycudaItemBasicInfo ON dbo.EntryPreviousItems.Item_Id = dbo.AsycudaItemBasicInfo.Item_Id
--WHERE        (dbo.PreviousItemsEx.CNumber = N'45054') AND (dbo.AsycudaItemBasicInfo.CNumber = N'8928') AND (dbo.AsycudaItemBasicInfo.LineNumber = 20)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "EntryPreviousItems"
            Begin Extent = 
               Top = 17
               Left = 736
               Bottom = 130
               Right = 931
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PreviousItemsEx"
            Begin Extent = 
               Top = 6
               Left = 271
               Bottom = 251
               Right = 537
            End
            DisplayFlags = 280
            TopColumn = 14
         End
         Begin Table = "AsycudaItemBasicInfo"
            Begin Extent = 
               Top = 15
               Left = 1110
               Bottom = 301
               Right = 1329
            End
            DisplayFlags = 280
            TopColumn = 2
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 2700
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2040
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'EntryPreviousItemsEx'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'EntryPreviousItemsEx'
GO
