USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[xLIC_Lic_item_segment]    Script Date: 4/3/2025 10:23:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xLIC_Lic_item_segment](
	[Description] [nvarchar](255) NULL,
	[Commodity_code] [nvarchar](255) NOT NULL,
	[Quantity_requested] [float] NOT NULL,
	[Origin] [nvarchar](255) NULL,
	[Unit_of_measurement] [nvarchar](255) NULL,
	[Quantity_to_approve] [float] NOT NULL,
	[LicenseId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_xLIC_Lic_item_segment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[xLIC_Lic_item_segment] ON 

INSERT [dbo].[xLIC_Lic_item_segment] ([Description], [Commodity_code], [Quantity_requested], [Origin], [Unit_of_measurement], [Quantity_to_approve], [LicenseId], [Id]) VALUES (N'MARINE PAINT', N'3208203000', 50, N'US', N'LTR', 50, 77, 299)
INSERT [dbo].[xLIC_Lic_item_segment] ([Description], [Commodity_code], [Quantity_requested], [Origin], [Unit_of_measurement], [Quantity_to_approve], [LicenseId], [Id]) VALUES (N'Marine Paint', N'3208203000', 218, N'US', N'LTR', 218, 78, 300)
INSERT [dbo].[xLIC_Lic_item_segment] ([Description], [Commodity_code], [Quantity_requested], [Origin], [Unit_of_measurement], [Quantity_to_approve], [LicenseId], [Id]) VALUES (N'Marine Paint', N'3208203000', 218, N'US', N'LTR', 218, 79, 301)
GO
SET IDENTITY_INSERT [dbo].[xLIC_Lic_item_segment] OFF
GO
ALTER TABLE [dbo].[xLIC_Lic_item_segment]  WITH CHECK ADD  CONSTRAINT [FK_xLIC_Lic_item_segment_xLIC_License] FOREIGN KEY([LicenseId])
REFERENCES [dbo].[xLIC_License] ([LicenseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[xLIC_Lic_item_segment] CHECK CONSTRAINT [FK_xLIC_Lic_item_segment_xLIC_License]
GO
