USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[ShipmentInvoice]    Script Date: 5/25/2025 9:01:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipmentInvoice](
	[InvoiceNo] [nvarchar](50) NOT NULL,
	[InvoiceDate] [datetime2](7) NULL,
	[InvoiceTotal] [float] NULL,
	[ImportedLines] [int] NULL,
	[SupplierCode] [nvarchar](100) NULL,
	[SupplierName] [nvarchar](100) NULL,
	[SupplierAddress] [nvarchar](500) NULL,
	[SupplierCountry] [nvarchar](50) NULL,
	[ConsigneeName] [nvarchar](100) NULL,
	[ConsigneeAddress] [nvarchar](500) NULL,
	[ConsigneeCountry] [nvarchar](50) NULL,
	[TotalInternalFreight] [float] NULL,
	[Currency] [nvarchar](4) NULL,
	[EmailId] [nvarchar](255) NULL,
	[FileTypeId] [int] NOT NULL,
	[TotalOtherCost] [float] NULL,
	[TotalInsurance] [float] NULL,
	[TotalDeduction] [float] NULL,
	[SourceFile] [nvarchar](max) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileLineNumber] [int] NULL,
	[SubTotal] [float] NULL,
	[ApplicationSettingsId] [int] NOT NULL,
 CONSTRAINT [PK_ShipmentEntryData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ShipmentInvoice] ON 

SET IDENTITY_INSERT [dbo].[ShipmentInvoice] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SQLOPS_ShipmentInvoice_1239_1238]    Script Date: 5/25/2025 9:01:20 PM ******/
CREATE NONCLUSTERED INDEX [SQLOPS_ShipmentInvoice_1239_1238] ON [dbo].[ShipmentInvoice]
(
	[InvoiceNo] ASC
)
INCLUDE([ApplicationSettingsId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
