USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[FileTypeActions]    Script Date: 4/2/2025 6:32:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileTypeActions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileTypeId] [int] NOT NULL,
	[ActionId] [int] NOT NULL,
	[AssessIM7] [bit] NULL,
	[AssessEX] [bit] NULL,
 CONSTRAINT [PK_FileTypeActions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FileTypeActions] ON 

INSERT [dbo].[FileTypeActions] ([Id], [FileTypeId], [ActionId], [AssessIM7], [AssessEX]) VALUES (232, 93, 43, NULL, NULL)
INSERT [dbo].[FileTypeActions] ([Id], [FileTypeId], [ActionId], [AssessIM7], [AssessEX]) VALUES (233, 94, 48, NULL, NULL)
INSERT [dbo].[FileTypeActions] ([Id], [FileTypeId], [ActionId], [AssessIM7], [AssessEX]) VALUES (235, 102, 95, NULL, NULL)
SET IDENTITY_INSERT [dbo].[FileTypeActions] OFF
GO
ALTER TABLE [dbo].[FileTypeActions]  WITH CHECK ADD  CONSTRAINT [FK_FileTypeActions_Actions] FOREIGN KEY([ActionId])
REFERENCES [dbo].[Actions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FileTypeActions] CHECK CONSTRAINT [FK_FileTypeActions_Actions]
GO
ALTER TABLE [dbo].[FileTypeActions]  WITH NOCHECK ADD  CONSTRAINT [FK_FileTypeActions_FileTypes] FOREIGN KEY([FileTypeId])
REFERENCES [dbo].[FileTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FileTypeActions] CHECK CONSTRAINT [FK_FileTypeActions_FileTypes]
GO
