USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[xC71_Identification_segment]    Script Date: 4/3/2025 10:23:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xC71_Identification_segment](
	[Contract_Date] [nvarchar](50) NULL,
	[Customs_Decision_Date] [nvarchar](50) NULL,
	[Yes_7A] [bit] NOT NULL,
	[No_7A] [bit] NOT NULL,
	[Yes_7B] [bit] NOT NULL,
	[No_7B] [bit] NOT NULL,
	[Yes_7C] [bit] NOT NULL,
	[No_7C] [bit] NOT NULL,
	[Yes_8A] [bit] NOT NULL,
	[No_8A] [bit] NOT NULL,
	[Yes_8B] [bit] NOT NULL,
	[No_8B] [bit] NOT NULL,
	[Yes_9A] [bit] NOT NULL,
	[No_9A] [bit] NOT NULL,
	[Yes_9B] [bit] NOT NULL,
	[No_9B] [bit] NOT NULL,
	[Identification_segment_Id] [int] NOT NULL,
	[Customs_Decision_Number] [nvarchar](255) NULL,
	[Box7_Details] [nvarchar](255) NULL,
	[Box8_Details] [nvarchar](255) NULL,
	[Box9_Details] [nvarchar](255) NULL,
	[Contract_Number] [nvarchar](255) NULL,
 CONSTRAINT [PK_C71_Identification_segment] PRIMARY KEY CLUSTERED 
(
	[Identification_segment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[xC71_Identification_segment] ([Contract_Date], [Customs_Decision_Date], [Yes_7A], [No_7A], [Yes_7B], [No_7B], [Yes_7C], [No_7C], [Yes_8A], [No_8A], [Yes_8B], [No_8B], [Yes_9A], [No_9A], [Yes_9B], [No_9B], [Identification_segment_Id], [Customs_Decision_Number], [Box7_Details], [Box8_Details], [Box9_Details], [Contract_Number]) VALUES (NULL, NULL, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 81, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[xC71_Identification_segment] ([Contract_Date], [Customs_Decision_Date], [Yes_7A], [No_7A], [Yes_7B], [No_7B], [Yes_7C], [No_7C], [Yes_8A], [No_8A], [Yes_8B], [No_8B], [Yes_9A], [No_9A], [Yes_9B], [No_9B], [Identification_segment_Id], [Customs_Decision_Number], [Box7_Details], [Box8_Details], [Box9_Details], [Contract_Number]) VALUES (NULL, NULL, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 82, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[xC71_Identification_segment] ([Contract_Date], [Customs_Decision_Date], [Yes_7A], [No_7A], [Yes_7B], [No_7B], [Yes_7C], [No_7C], [Yes_8A], [No_8A], [Yes_8B], [No_8B], [Yes_9A], [No_9A], [Yes_9B], [No_9B], [Identification_segment_Id], [Customs_Decision_Number], [Box7_Details], [Box8_Details], [Box9_Details], [Contract_Number]) VALUES (NULL, NULL, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 83, NULL, NULL, NULL, NULL, NULL)
GO
ALTER TABLE [dbo].[xC71_Identification_segment]  WITH CHECK ADD  CONSTRAINT [FK_xC71_Identification_segment_xC71_Value_declaration_form] FOREIGN KEY([Identification_segment_Id])
REFERENCES [dbo].[xC71_Value_declaration_form] ([Value_declaration_form_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[xC71_Identification_segment] CHECK CONSTRAINT [FK_xC71_Identification_segment_xC71_Value_declaration_form]
GO
