USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[ShipmentInvoiceDetails]    Script Date: 4/7/2025 9:02:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipmentInvoiceDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShipmentInvoiceId] [int] NOT NULL,
	[LineNumber] [int] NULL,
	[ItemNumber] [nvarchar](20) NULL,
	[Quantity] [float] NOT NULL,
	[Units] [nvarchar](15) NULL,
	[ItemDescription] [nvarchar](255) NOT NULL,
	[Cost] [float] NOT NULL,
	[TotalCost] [float] NULL,
	[FileLineNumber] [int] NULL,
	[InventoryItemId] [int] NULL,
	[SalesFactor] [float] NOT NULL,
	[Discount] [float] NULL,
	[TariffCode] [nvarchar](12) NULL,
 CONSTRAINT [PK_ShipmentInvoiceDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ShipmentInvoiceDetails] ON 

INSERT [dbo].[ShipmentInvoiceDetails] ([Id], [ShipmentInvoiceId], [LineNumber], [ItemNumber], [Quantity], [Units], [ItemDescription], [Cost], [TotalCost], [FileLineNumber], [InventoryItemId], [SalesFactor], [Discount], [TariffCode]) VALUES (141923, 15957, 0, N'GLASH-KTB-PANTS-4PK', 1, NULL, N'GLASH Kids Toddler Boys Pants, Cotton Joggers, 4-Pack, Grey Camo, 5T ©) Be BAS S', 29.49, 29.49, 50, NULL, 1, 0, N'62034200')
INSERT [dbo].[ShipmentInvoiceDetails] ([Id], [ShipmentInvoiceId], [LineNumber], [ItemNumber], [Quantity], [Units], [ItemDescription], [Cost], [TotalCost], [FileLineNumber], [InventoryItemId], [SalesFactor], [Discount], [TariffCode]) VALUES (141924, 15957, 1, N'GASH-KBT-PANTS-4PK', 1, NULL, N'GASH Kids Baby and Toddler Boys 4-Pack Cotton Pants Stripe size6 {) 4, 4 J', 29.49, 29.49, 57, NULL, 1, 0, N'62034200')
INSERT [dbo].[ShipmentInvoiceDetails] ([Id], [ShipmentInvoiceId], [LineNumber], [ItemNumber], [Quantity], [Units], [ItemDescription], [Cost], [TotalCost], [FileLineNumber], [InventoryItemId], [SalesFactor], [Discount], [TariffCode]) VALUES (141925, 15957, 2, N'VEEKT-OMX-PWRBANK', 1, NULL, N'VEEKT( OMX Portable Charger with Built-in Cables, 10000mAh Power Bank for iPhone, Slim Fast Charge USB C Battery', 23.98, 23.98, 83, NULL, 1, 0, N'85076000')
GO
SET IDENTITY_INSERT [dbo].[ShipmentInvoiceDetails] OFF
GO
/****** Object:  Index [SQLOPS_ShipmentInvoiceDetails_1412_1411]    Script Date: 4/7/2025 9:02:13 AM ******/
CREATE NONCLUSTERED INDEX [SQLOPS_ShipmentInvoiceDetails_1412_1411] ON [dbo].[ShipmentInvoiceDetails]
(
	[ShipmentInvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ShipmentInvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_ShipmentInvoiceDetails_ShipmentInvoice] FOREIGN KEY([ShipmentInvoiceId])
REFERENCES [dbo].[ShipmentInvoice] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShipmentInvoiceDetails] CHECK CONSTRAINT [FK_ShipmentInvoiceDetails_ShipmentInvoice]
GO
