USE [WebSource-AutoBot]
GO
/****** Object:  View [dbo].[TODO-LicenseDetails]    Script Date: 5/25/2025 9:01:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TODO-LicenseDetails]
AS
SELECT dbo.xLIC_License_Registered.RegistrationNumber, dbo.xLIC_License_Registered.ApplicationSettingsId, dbo.xLIC_Lic_item_segment.Commodity_code, dbo.xLIC_Lic_item_segment.Origin, 
                 dbo.xLIC_Lic_item_segment.Quantity_requested, dbo.xLIC_General_segment.Application_date, dbo.xLIC_General_segment.Importation_date, CAST(YEAR(dbo.xLIC_General_segment.Application_date) AS nvarchar(4)) 
                 + ' ' + dbo.xLIC_License_Registered.RegistrationNumber AS [Key], dbo.xLIC_License_Registered.LicenseId, dbo.xLIC_License_Registered.SourceFile, dbo.xLIC_License_Registered.DocumentReference, 
                 dbo.xLIC_Lic_item_segment.Id AS SegmentId, dbo.xLIC_General_segment.Exporter_address
FROM    dbo.xLIC_License_Registered INNER JOIN
                 dbo.xLIC_Lic_item_segment ON dbo.xLIC_License_Registered.LicenseId = dbo.xLIC_Lic_item_segment.LicenseId INNER JOIN
                 dbo.xLIC_General_segment ON dbo.xLIC_License_Registered.LicenseId = dbo.xLIC_General_segment.General_segment_Id
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "xLIC_License_Registered"
            Begin Extent = 
               Top = 28
               Left = 521
               Bottom = 183
               Right = 743
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "xLIC_Lic_item_segment"
            Begin Extent = 
               Top = 27
               Left = 89
               Bottom = 182
               Right = 316
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "xLIC_General_segment"
            Begin Extent = 
               Top = 29
               Left = 966
               Bottom = 184
               Right = 1203
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TODO-LicenseDetails'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TODO-LicenseDetails'
GO
