USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[ShipmentInvoiceRiderManualMatches]    Script Date: 4/2/2025 6:32:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipmentInvoiceRiderManualMatches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseCode] [nvarchar](50) NOT NULL,
	[RiderInvoiceNumber] [nvarchar](50) NOT NULL,
	[InvoiceNo] [nvarchar](50) NOT NULL,
	[Packages] [int] NOT NULL,
 CONSTRAINT [PK_ShipmentInvoiceRiderManualMatches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ShipmentInvoiceRiderManualMatches] ON 

INSERT [dbo].[ShipmentInvoiceRiderManualMatches] ([Id], [WarehouseCode], [RiderInvoiceNumber], [InvoiceNo], [Packages]) VALUES (56, N'30557199', N'7822432', N'R2219094', 1)
INSERT [dbo].[ShipmentInvoiceRiderManualMatches] ([Id], [WarehouseCode], [RiderInvoiceNumber], [InvoiceNo], [Packages]) VALUES (57, N'30554258', N'7796395', N'R2219095', 1)
INSERT [dbo].[ShipmentInvoiceRiderManualMatches] ([Id], [WarehouseCode], [RiderInvoiceNumber], [InvoiceNo], [Packages]) VALUES (59, N'30557559', N'276042', N'1983767', 1)
SET IDENTITY_INSERT [dbo].[ShipmentInvoiceRiderManualMatches] OFF
GO
