USE [WebSource-AutoBot]
GO
/****** Object:  View [dbo].[AsycudaSearchDifferences]    Script Date: 4/7/2025 9:02:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AsycudaSearchDifferences]
AS
SELECT   AsycudaSearchList.Office, AsycudaSearchList.Reg_Nber, CAST(CONVERT(CHAR(11), AsycudaSearchList.Reg_Date, 113) AS DATETIME) AS Reg_Date, AsycudaDocument.CNumber, CAST(CONVERT(CHAR(11), AsycudaDocument.RegistrationDate, 
                113) AS DATETIME) AS RegistrationDate, AsycudaDocument.Customs_clearance_office_code
FROM      (SELECT   Year, Office, Declarant, Decl_Code, Ref_Number, Reg_Ser, Reg_Nber, Reg_Date, Type, Gen_Proc, Items, Exporter, Rcp_Serial, Reciept, Rcp_Date, Consignee, Consg_Code, Total_Taxes, Warehouse_Account, Ast_Ser, Ast, Ast_Date, 
                                 Color
                 FROM      dbo.AsycudaSearchList AS AsycudaSearchList_1
                 WHERE   ((Type + CAST(Gen_Proc AS nvarchar(50))) NOT IN ('EX1', 'EX2', 'EX3')) AND (Warehouse_Account IS NOT NULL)) AS AsycudaSearchList FULL OUTER JOIN
                    (SELECT   ASYCUDA_Id, id, CNumber, RegistrationDate, IsManuallyAssessed, ReferenceNumber, EffectiveRegistrationDate, AsycudaDocumentSetId, DoNotAllocate, AutoUpdate, BLNumber, Description, Type_of_declaration, 
                                     Declaration_gen_procedure_code, Extended_customs_procedure, DocumentType, Document_TypeId, Customs_ProcedureId, CustomsOperationId, CustomsProcedure, Country_first_destination, Currency_code, Currency_rate, 
                                     Manifest_reference_number, Customs_clearance_office_code, Lines, ImportComplete, Cancelled, TotalCIF, TotalGrossWeight, AssessmentDate, TotalFreight, ExpiryDate, ApplicationSettingsId, SourceFileName, IsPaid, 
                                     SubmitToCustoms, TotalDeduction, TotalOtherCost, TotalInternalFreight, TotalInsurance
                     FROM      dbo.AsycudaDocument AS AsycudaDocument_1
                     WHERE   (ImportComplete = 1) AND (CustomsProcedure NOT IN ('1000-000', '2300-000', '2200-000', '3000-000', '4000-800', '4000-000', '4500-SPO', '4000-802', '4000-827', '9000-000', '8300-000', '4300-SPO', '4500-H19'))) 
                AS AsycudaDocument ON AsycudaSearchList.Office = AsycudaDocument.Customs_clearance_office_code AND AsycudaSearchList.Reg_Nber = AsycudaDocument.CNumber AND CAST(CONVERT(CHAR(11), AsycudaSearchList.Reg_Date, 113) 
                AS DATETIME) = CAST(CONVERT(CHAR(11), AsycudaDocument.RegistrationDate, 113) AS DATETIME) AND CHARINDEX(AsycudaDocument.ReferenceNumber, AsycudaSearchList.Ref_Number) > - 1
WHERE   (AsycudaSearchList.Reg_Nber IS NULL) OR
                (AsycudaDocument.CNumber IS NULL)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "AsycudaSearchList"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 146
               Right = 244
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "AsycudaDocument"
            Begin Extent = 
               Top = 6
               Left = 282
               Bottom = 146
               Right = 564
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'AsycudaSearchDifferences'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'AsycudaSearchDifferences'
GO
