USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[TariffSupUnitLkps]    Script Date: 4/3/2025 10:23:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TariffSupUnitLkps](
	[SuppUnitCode2] [nvarchar](50) NOT NULL,
	[SuppUnitName2] [nvarchar](50) NULL,
	[SuppQty] [float] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_TariffSupUnitLkps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TariffSupUnitLkps] ON 

INSERT [dbo].[TariffSupUnitLkps] ([SuppUnitCode2], [SuppUnitName2], [SuppQty], [Id]) VALUES (N'LTR', N'Litre (1 dm3)', 1.5, 2)
INSERT [dbo].[TariffSupUnitLkps] ([SuppUnitCode2], [SuppUnitName2], [SuppQty], [Id]) VALUES (N'MTQ', NULL, 32, 3)
INSERT [dbo].[TariffSupUnitLkps] ([SuppUnitCode2], [SuppUnitName2], [SuppQty], [Id]) VALUES (N'MTQ', NULL, 32, 4)
SET IDENTITY_INSERT [dbo].[TariffSupUnitLkps] OFF
GO
