USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[TariffCategory]    Script Date: 4/2/2025 6:32:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TariffCategory](
	[TariffCategoryCode] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](999) NULL,
	[ParentTariffCategoryCode] [nvarchar](50) NULL,
	[LicenseRequired] [bit] NULL,
 CONSTRAINT [PK_TariffCategory] PRIMARY KEY CLUSTERED 
(
	[TariffCategoryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TariffCategory] ([TariffCategoryCode], [Description], [ParentTariffCategoryCode], [LicenseRequired]) VALUES (N'0101', N'Live horses, asses, mules and hinnies.', NULL, NULL)
INSERT [dbo].[TariffCategory] ([TariffCategoryCode], [Description], [ParentTariffCategoryCode], [LicenseRequired]) VALUES (N'0102', N'Live bovine animals.', NULL, NULL)
INSERT [dbo].[TariffCategory] ([TariffCategoryCode], [Description], [ParentTariffCategoryCode], [LicenseRequired]) VALUES (N'0103', N'Live swine.', NULL, NULL)
GO
