USE [WebSource-AutoBot]
GO
/****** Object:  View [dbo].[vw_ItemTaxDetailedReport]    Script Date: 5/25/2025 9:01:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ItemTaxDetailedReport] AS
WITH OriginalQuery AS (
    SELECT      
        dbo.AsycudaItemBasicInfo.CNumber,  
        dbo.AsycudaItemBasicInfo.Item_Id AS BaseItem_Id,
        dbo.AsycudaItemBasicInfo.LineNumber,  
        dbo.AsycudaItemBasicInfo.ItemNumber, 
        dbo.AsycudaItemBasicInfo.Commercial_Description, 
        dbo.AsycudaItemBasicInfo.ItemQuantity,
        dbo.xcuda_Valuation_item.Total_CIF_itm,
        dbo.xcuda_Item_Invoice.Amount_national_currency,
        ISNULL(dbo.xcuda_item_external_freight.Amount_national_currency, 0) AS External_Freight, 
        ISNULL(dbo.xcuda_item_insurance.Amount_national_currency, 0) AS Insurance, 
        ISNULL(dbo.xcuda_item_internal_freight.Amount_national_currency, 0) AS Internal_Freight, 
        ISNULL(dbo.xcuda_item_other_cost.Amount_national_currency,0) AS Other_Cost, 
        ISNULL(dbo.xcuda_item_deduction.Amount_national_currency,0) AS Deduction
    FROM            
        dbo.xcuda_item_insurance RIGHT OUTER JOIN
        dbo.xcuda_item_internal_freight RIGHT OUTER JOIN
        dbo.xcuda_item_other_cost RIGHT OUTER JOIN
        dbo.xcuda_Item_Invoice INNER JOIN
        dbo.AsycudaItemBasicInfo INNER JOIN
        dbo.xcuda_Valuation_item ON dbo.AsycudaItemBasicInfo.Item_Id = dbo.xcuda_Valuation_item.Item_Id ON 
        dbo.xcuda_Item_Invoice.Valuation_item_Id = dbo.AsycudaItemBasicInfo.Item_Id ON 
        dbo.xcuda_item_other_cost.Valuation_item_Id = dbo.AsycudaItemBasicInfo.Item_Id ON 
        dbo.xcuda_item_internal_freight.Valuation_item_Id = dbo.AsycudaItemBasicInfo.Item_Id LEFT OUTER JOIN
        dbo.xcuda_item_deduction ON dbo.AsycudaItemBasicInfo.Item_Id = dbo.xcuda_item_deduction.Valuation_item_Id ON 
        dbo.xcuda_item_insurance.Valuation_item_Id = dbo.AsycudaItemBasicInfo.Item_Id LEFT OUTER JOIN
        dbo.xcuda_item_external_freight ON dbo.AsycudaItemBasicInfo.Item_Id = dbo.xcuda_item_external_freight.Valuation_item_Id
)
SELECT 
    o.CNumber,
    o.BaseItem_Id,
    o.LineNumber,
    o.ItemNumber, 
    o.Commercial_Description, 
    o.ItemQuantity,
    '' as [Received Qty], 
    o.Total_CIF_itm,
    '' as [Rate Factor], 
    o.Amount_national_currency AS [Invoice Value], 
    ISNULL(o.External_Freight, 0) AS [External Freight], 
    ISNULL(o.Insurance, 0) AS Insurance, 
    ISNULL(o.Internal_Freight, 0) AS [Internal Freight], 
    ISNULL(o.Other_Cost, 0) AS [Other Cost], 
    ISNULL(o.Deduction, 0) AS Deduction,
    pvt.*
FROM OriginalQuery o
LEFT JOIN (
    SELECT Item_Id, Duty_tax_code, Amount 
    FROM [AutoBrokerage-AutoBot].[dbo].[AsycudaItemTaxes]
) t 
PIVOT (
    MAX(Amount)
    FOR Duty_tax_code IN (
        [CET], [EVL], [CSC], [VAT], [EXT] -- Add your actual tax codes here
    )
) AS pvt ON o.BaseItem_Id = pvt.Item_Id
GO
