USE [WebSource-AutoBot]
GO
/****** Object:  View [dbo].[Overview-EmailMapping-Actions]    Script Date: 4/3/2025 10:23:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Overview-EmailMapping-Actions]
AS
SELECT TOP (100) PERCENT dbo.EmailMapping.ApplicationSettingsId, dbo.EmailMapping.Pattern, dbo.EmailMapping.IsSingleEmail, dbo.EmailMapping.ReplacementValue, dbo.EmailMapping.InfoFirst, dbo.EmailFileTypes.IsRequired, 
                  dbo.FileTypes.Description, dbo.FileTypes.FilePattern, dbo.FileTypes.CreateDocumentSet, dbo.FileTypes.DocumentSpecific, dbo.FileTypes.ParentFileTypeId, dbo.FileTypes.CopyEntryData, dbo.FileTypes.IsImportable, 
                  dbo.FileTypes.DocSetRefernece, dbo.[FileTypes-FileImporterInfo].EntryType, dbo.[FileTypes-FileImporterInfo].Format, dbo.FileTypeActions.AssessIM7, dbo.FileTypeActions.AssessEX, dbo.Actions.Name, dbo.Actions.IsDataSpecific, 
                  dbo.FileTypes.Id
FROM     dbo.[FileTypes-FileImporterInfo] LEFT OUTER JOIN
                  dbo.FileTypes ON dbo.[FileTypes-FileImporterInfo].Id = dbo.FileTypes.FileInfoId RIGHT OUTER JOIN
                  dbo.EmailMapping LEFT OUTER JOIN
                  dbo.EmailFileTypes ON dbo.EmailMapping.Id = dbo.EmailFileTypes.EmailMappingId ON dbo.FileTypes.Id = dbo.EmailFileTypes.FileTypeId LEFT OUTER JOIN
                  dbo.FileTypeActions ON dbo.FileTypes.Id = dbo.FileTypeActions.FileTypeId LEFT OUTER JOIN
                  dbo.Actions ON dbo.FileTypeActions.ActionId = dbo.Actions.Id
ORDER BY dbo.EmailMapping.Id
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "FileTypes-FileImporterInfo"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 148
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "FileTypes"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 170
               Right = 528
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "EmailMapping"
            Begin Extent = 
               Top = 7
               Left = 576
               Bottom = 170
               Right = 814
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "EmailFileTypes"
            Begin Extent = 
               Top = 7
               Left = 862
               Bottom = 170
               Right = 1067
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "FileTypeActions"
            Begin Extent = 
               Top = 7
               Left = 1115
               Bottom = 170
               Right = 1309
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Actions"
            Begin Extent = 
               Top = 7
               Left = 1357
               Bottom = 170
               Right = 1551
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Overview-EmailMapping-Actions'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Overview-EmailMapping-Actions'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Overview-EmailMapping-Actions'
GO
