USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[xLIC_General_segment]    Script Date: 4/3/2025 10:23:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xLIC_General_segment](
	[Arrival_date] [nvarchar](255) NULL,
	[Application_date] [nvarchar](255) NULL,
	[Expiry_date] [nvarchar](255) NULL,
	[Importation_date] [nvarchar](255) NULL,
	[General_segment_Id] [int] NOT NULL,
	[Importer_cellphone] [nvarchar](255) NULL,
	[Exporter_address] [nvarchar](255) NULL,
	[Exporter_country_code] [nvarchar](255) NULL,
	[Importer_code] [nvarchar](255) NULL,
	[Owner_code] [nvarchar](255) NULL,
	[Exporter_email] [nvarchar](255) NULL,
	[Importer_name] [nvarchar](255) NULL,
	[Importer_contact] [nvarchar](255) NULL,
	[Exporter_name] [nvarchar](255) NULL,
	[Exporter_telephone] [nvarchar](255) NULL,
	[Importer_telephone] [nvarchar](255) NULL,
	[Exporter_country_name] [nvarchar](255) NULL,
	[Exporter_cellphone] [nvarchar](255) NULL,
	[Importer_email] [nvarchar](255) NULL,
 CONSTRAINT [PK_xLIC_General_segment] PRIMARY KEY CLUSTERED 
(
	[General_segment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[xLIC_General_segment]  WITH CHECK ADD  CONSTRAINT [FK_xLIC_General_segment_xLIC_License] FOREIGN KEY([General_segment_Id])
REFERENCES [dbo].[xLIC_License] ([LicenseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[xLIC_General_segment] CHECK CONSTRAINT [FK_xLIC_General_segment_xLIC_License]
GO
