USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[OCR-ChildPart]    Script Date: 4/7/2025 9:02:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCR-ChildPart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentPartId] [int] NOT NULL,
	[ChildPartId] [int] NOT NULL,
 CONSTRAINT [PK_OCR-ChildPart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OCR-ChildPart] ON 

INSERT [dbo].[OCR-ChildPart] ([Id], [ParentPartId], [ChildPartId]) VALUES (4, 4, 5)
INSERT [dbo].[OCR-ChildPart] ([Id], [ParentPartId], [ChildPartId]) VALUES (6, 4, 6)
INSERT [dbo].[OCR-ChildPart] ([Id], [ParentPartId], [ChildPartId]) VALUES (7, 4, 7)
GO
SET IDENTITY_INSERT [dbo].[OCR-ChildPart] OFF
GO
ALTER TABLE [dbo].[OCR-ChildPart]  WITH CHECK ADD  CONSTRAINT [FK_OCR-ChildPart_OCR-Parts] FOREIGN KEY([ChildPartId])
REFERENCES [dbo].[OCR-Parts] ([Id])
GO
ALTER TABLE [dbo].[OCR-ChildPart] CHECK CONSTRAINT [FK_OCR-ChildPart_OCR-Parts]
GO
ALTER TABLE [dbo].[OCR-ChildPart]  WITH CHECK ADD  CONSTRAINT [FK_OCR-ChildPart_OCR-Parts1] FOREIGN KEY([ParentPartId])
REFERENCES [dbo].[OCR-Parts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OCR-ChildPart] CHECK CONSTRAINT [FK_OCR-ChildPart_OCR-Parts1]
GO
