USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[FileTypes-FileImporterInfo]    Script Date: 4/3/2025 10:23:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileTypes-FileImporterInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EntryType] [nvarchar](50) NOT NULL,
	[Format] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FileTypes-FileInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FileTypes-FileImporterInfo] ON 

INSERT [dbo].[FileTypes-FileImporterInfo] ([Id], [EntryType], [Format]) VALUES (1, N'XCUDA', N'XML')
INSERT [dbo].[FileTypes-FileImporterInfo] ([Id], [EntryType], [Format]) VALUES (2, N'EX9', N'XML')
INSERT [dbo].[FileTypes-FileImporterInfo] ([Id], [EntryType], [Format]) VALUES (3, N'LIC', N'XML')
SET IDENTITY_INSERT [dbo].[FileTypes-FileImporterInfo] OFF
GO
