USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[OCRCorrectionLearning1]    Script Date: 6/6/2025 4:59:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCRCorrectionLearning1](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FieldName] [nvarchar](100) NOT NULL,
	[OriginalError] [nvarchar](500) NOT NULL,
	[CorrectValue] [nvarchar](500) NOT NULL,
	[LineNumber] [int] NOT NULL,
	[LineText] [nvarchar](1000) NOT NULL,
	[WindowText] [nvarchar](max) NULL,
	[ExistingRegex] [nvarchar](1000) NULL,
	[CorrectionType] [nvarchar](50) NOT NULL,
	[NewRegexPattern] [nvarchar](1000) NULL,
	[ReplacementPattern] [nvarchar](500) NULL,
	[DeepSeekReasoning] [nvarchar](max) NULL,
	[Confidence] [decimal](3, 2) NULL,
	[InvoiceType] [nvarchar](100) NULL,
	[FilePath] [nvarchar](500) NULL,
	[FieldId] [int] NULL,
	[Success] [bit] NOT NULL,
	[ErrorMessage] [nvarchar](1000) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ProcessingTimeMs] [int] NULL,
	[DeepSeekPrompt] [nvarchar](max) NULL,
	[DeepSeekResponse] [nvarchar](max) NULL,
 CONSTRAINT [PK_OCRCorrectionLearning] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OCRCorrectionLearning_CorrectionType]    Script Date: 6/6/2025 4:59:24 AM ******/
CREATE NONCLUSTERED INDEX [IX_OCRCorrectionLearning_CorrectionType] ON [dbo].[OCRCorrectionLearning1]
(
	[CorrectionType] ASC
)
INCLUDE([FieldName],[Success],[CreatedDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OCRCorrectionLearning_CreatedDate]    Script Date: 6/6/2025 4:59:24 AM ******/
CREATE NONCLUSTERED INDEX [IX_OCRCorrectionLearning_CreatedDate] ON [dbo].[OCRCorrectionLearning1]
(
	[CreatedDate] DESC
)
INCLUDE([FieldName],[CorrectionType],[Success]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OCRCorrectionLearning_FieldId]    Script Date: 6/6/2025 4:59:24 AM ******/
CREATE NONCLUSTERED INDEX [IX_OCRCorrectionLearning_FieldId] ON [dbo].[OCRCorrectionLearning1]
(
	[FieldId] ASC
)
INCLUDE([FieldName],[CorrectionType],[Success],[CreatedDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OCRCorrectionLearning_FieldName]    Script Date: 6/6/2025 4:59:24 AM ******/
CREATE NONCLUSTERED INDEX [IX_OCRCorrectionLearning_FieldName] ON [dbo].[OCRCorrectionLearning1]
(
	[FieldName] ASC
)
INCLUDE([OriginalError],[CorrectValue],[CorrectionType],[CreatedDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OCRCorrectionLearning1] ADD  DEFAULT ((1)) FOR [Success]
GO
ALTER TABLE [dbo].[OCRCorrectionLearning1] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[OCRCorrectionLearning1] ADD  DEFAULT ('OCRCorrectionService') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[OCRCorrectionLearning1]  WITH CHECK ADD  CONSTRAINT [CK_OCRCorrectionLearning_Confidence] CHECK  (([Confidence] IS NULL OR [Confidence]>=(0.00) AND [Confidence]<=(1.00)))
GO
ALTER TABLE [dbo].[OCRCorrectionLearning1] CHECK CONSTRAINT [CK_OCRCorrectionLearning_Confidence]
GO
ALTER TABLE [dbo].[OCRCorrectionLearning1]  WITH CHECK ADD  CONSTRAINT [CK_OCRCorrectionLearning_CorrectionType] CHECK  (([CorrectionType]='CreateNewRegex' OR [CorrectionType]='AddFieldFormatRegex' OR [CorrectionType]='UpdateLineRegex'))
GO
ALTER TABLE [dbo].[OCRCorrectionLearning1] CHECK CONSTRAINT [CK_OCRCorrectionLearning_CorrectionType]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The field name that was being corrected (e.g., TotalInternalFreight, TotalOtherCost)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OCRCorrectionLearning1', @level2type=N'COLUMN',@level2name=N'FieldName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The incorrect value that was found in the OCR text' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OCRCorrectionLearning1', @level2type=N'COLUMN',@level2name=N'OriginalError'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The correct value that should have been extracted' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OCRCorrectionLearning1', @level2type=N'COLUMN',@level2name=N'CorrectValue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The type of correction applied: UpdateLineRegex, AddFieldFormatRegex, or CreateNewRegex' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OCRCorrectionLearning1', @level2type=N'COLUMN',@level2name=N'CorrectionType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'DeepSeek LLM explanation of why this correction approach was chosen' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OCRCorrectionLearning1', @level2type=N'COLUMN',@level2name=N'DeepSeekReasoning'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'DeepSeek confidence level in the correction (0.00 to 1.00)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OCRCorrectionLearning1', @level2type=N'COLUMN',@level2name=N'Confidence'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Stores detailed information about OCR regex corrections made by DeepSeek LLM for learning and analysis purposes' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OCRCorrectionLearning1'
GO
