USE [WebSource-AutoBot]
GO
/****** Object:  View [dbo].[TODO-DiscrepanciesExecutionReport-Executions]    Script Date: 4/8/2025 8:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TODO-DiscrepanciesExecutionReport-Executions]
AS
SELECT AsycudaDocumentItemEntryDataDetails_1.EntryDataDetailsId, AsycudaDocumentItemEntryDataDetails_1.EntryData_Id, AsycudaDocumentItemEntryDataDetails_1.Item_Id, 
                 AsycudaDocumentItemEntryDataDetails_1.ItemNumber, AsycudaDocumentItemEntryDataDetails_1.[key], AsycudaDocumentItemEntryDataDetails_1.DocumentType, AsycudaDocumentItemEntryDataDetails_1.Quantity, 
                 AsycudaDocumentItemEntryDataDetails_1.ImportComplete, dbo.AsycudaItemBasicInfo.CNumber, dbo.AsycudaItemBasicInfo.LineNumber, AsycudaDocumentCustomsProcedures.CustomsProcedure, RegistrationDate, 
				 AsycudaItemBasicInfo.ASYCUDA_Id
FROM    dbo.AsycudaDocumentItemEntryDataDetails AS AsycudaDocumentItemEntryDataDetails_1 INNER JOIN
                 dbo.AsycudaDocumentCustomsProcedures ON dbo.AsycudaDocumentCustomsProcedures.ASYCUDA_Id = AsycudaDocumentItemEntryDataDetails_1.Asycuda_id INNER JOIN
                 dbo.AsycudaItemBasicInfo ON AsycudaDocumentItemEntryDataDetails_1.Item_Id = dbo.AsycudaItemBasicInfo.Item_Id
WHERE (dbo.AsycudaDocumentCustomsProcedures.Discrepancy = 1) AND (dbo.AsycudaItemBasicInfo.CNumber IS NOT NULL)
GROUP BY AsycudaDocumentItemEntryDataDetails_1.EntryDataDetailsId, AsycudaDocumentItemEntryDataDetails_1.EntryData_Id, AsycudaDocumentItemEntryDataDetails_1.Item_Id, 
                 AsycudaDocumentItemEntryDataDetails_1.ItemNumber, AsycudaDocumentItemEntryDataDetails_1.[key], AsycudaDocumentItemEntryDataDetails_1.DocumentType, AsycudaDocumentItemEntryDataDetails_1.Quantity, 
                 dbo.AsycudaItemBasicInfo.CNumber, dbo.AsycudaItemBasicInfo.LineNumber, ImportComplete, AsycudaDocumentCustomsProcedures.CustomsProcedure, RegistrationDate, AsycudaItemBasicInfo.ASYCUDA_Id
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "AsycudaDocumentItemEntryDataDetails_1"
            Begin Extent = 
               Top = 6
               Left = 44
               Bottom = 161
               Right = 299
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "AsycudaDocumentCustomsProcedures"
            Begin Extent = 
               Top = 6
               Left = 343
               Bottom = 161
               Right = 586
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "AsycudaItemBasicInfo"
            Begin Extent = 
               Top = 6
               Left = 630
               Bottom = 161
               Right = 841
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 903
         Table = 1165
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1348
         SortOrder = 1414
         GroupBy = 1350
         Filter = 1348
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TODO-DiscrepanciesExecutionReport-Executions'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TODO-DiscrepanciesExecutionReport-Executions'
GO
