USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[OCR-FieldValue]    Script Date: 4/2/2025 6:32:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCR-FieldValue](
	[Id] [int] NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_OCR-FieldValue] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[OCR-FieldValue] ([Id], [Value]) VALUES (162, N'XYLEM')
INSERT [dbo].[OCR-FieldValue] ([Id], [Value]) VALUES (167, N'USD')
INSERT [dbo].[OCR-FieldValue] ([Id], [Value]) VALUES (362, N'GARMIN')
GO
ALTER TABLE [dbo].[OCR-FieldValue]  WITH CHECK ADD  CONSTRAINT [FK_OCR-FieldValue_OCR-Fields] FOREIGN KEY([Id])
REFERENCES [dbo].[OCR-Fields] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OCR-FieldValue] CHECK CONSTRAINT [FK_OCR-FieldValue_OCR-Fields]
GO
