USE [WebSource-AutoBot]
GO
/****** Object:  View [dbo].[vw_OCRCorrectionAnalysis]    Script Date: 6/6/2025 4:59:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create a view for easy analysis
CREATE VIEW [dbo].[vw_OCRCorrectionAnalysis] AS
SELECT 
    FieldName,
    CorrectionType,
    COUNT(*) as TotalCorrections,
    AVG(Confidence) as AvgConfidence,
    SUM(CASE WHEN Success = 1 THEN 1 ELSE 0 END) as SuccessfulCorrections,
    SUM(CASE WHEN Success = 0 THEN 1 ELSE 0 END) as FailedCorrections,
    CAST(SUM(CASE WHEN Success = 1 THEN 1 ELSE 0 END) * 100.0 / COUNT(*) AS DECIMAL(5,2)) as SuccessRate,
    MIN(CreatedDate) as FirstCorrection,
    MAX(CreatedDate) as LastCorrection
FROM [dbo].[OCRCorrectionLearning]
GROUP BY FieldName, CorrectionType

GO
