USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[xcuda_ASYCUDA]    Script Date: 4/3/2025 10:23:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xcuda_ASYCUDA](
	[id] [nvarchar](10) NULL,
	[ASYCUDA_Id] [int] IDENTITY(1,1) NOT NULL,
	[EntryTimeStamp] [datetime2](7) NULL,
	[UpgradeKey] [int] NULL,
 CONSTRAINT [PK_xcuda_ASYCUDA] PRIMARY KEY CLUSTERED 
(
	[ASYCUDA_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[xcuda_ASYCUDA] ON 

INSERT [dbo].[xcuda_ASYCUDA] ([id], [ASYCUDA_Id], [EntryTimeStamp], [UpgradeKey]) VALUES (NULL, 48427, CAST(N'2025-04-04T01:45:28.4159649' AS DateTime2), NULL)
INSERT [dbo].[xcuda_ASYCUDA] ([id], [ASYCUDA_Id], [EntryTimeStamp], [UpgradeKey]) VALUES (NULL, 48428, CAST(N'2025-04-04T01:45:41.5182292' AS DateTime2), NULL)
INSERT [dbo].[xcuda_ASYCUDA] ([id], [ASYCUDA_Id], [EntryTimeStamp], [UpgradeKey]) VALUES (NULL, 48429, CAST(N'2025-04-04T01:45:47.7116491' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[xcuda_ASYCUDA] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SQLOPS_xcuda_ASYCUDA_484_483]    Script Date: 4/3/2025 10:23:55 PM ******/
CREATE NONCLUSTERED INDEX [SQLOPS_xcuda_ASYCUDA_484_483] ON [dbo].[xcuda_ASYCUDA]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[xcuda_ASYCUDA] ADD  CONSTRAINT [DF_xcuda_ASYCUDA_EntryTimeStamp]  DEFAULT (sysutcdatetime()) FOR [EntryTimeStamp]
GO
