USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[Actions]    Script Date: 4/2/2025 6:32:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[TestMode] [bit] NOT NULL,
	[IsDataSpecific] [bit] NULL,
 CONSTRAINT [PK_Actions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actions] ON 

INSERT [dbo].[Actions] ([Id], [Name], [TestMode], [IsDataSpecific]) VALUES (1, N'ImportSalesEntries', 0, NULL)
INSERT [dbo].[Actions] ([Id], [Name], [TestMode], [IsDataSpecific]) VALUES (2, N'AllocateSales', 0, NULL)
INSERT [dbo].[Actions] ([Id], [Name], [TestMode], [IsDataSpecific]) VALUES (3, N'CreateEx9', 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[Actions] OFF
GO
