USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[xC71_Declarant_segment]    Script Date: 4/8/2025 8:33:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xC71_Declarant_segment](
	[Code] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Identification_segment_Id] [int] NOT NULL,
 CONSTRAINT [PK_C71_Declarant_segment] PRIMARY KEY CLUSTERED 
(
	[Identification_segment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[xC71_Declarant_segment] ([Code], [Name], [Address], [Identification_segment_Id]) VALUES (N'07290940003049', N'BUDGET MARINE (GRENADA) LIMITED', N'BUDGET MARINE (GRENADA) LIMITED
LANCE-AUX-EPINES
ST. GEORGE''S', 81)
INSERT [dbo].[xC71_Declarant_segment] ([Code], [Name], [Address], [Identification_segment_Id]) VALUES (N'07290940003049', NULL, NULL, 82)
INSERT [dbo].[xC71_Declarant_segment] ([Code], [Name], [Address], [Identification_segment_Id]) VALUES (N'07290940003049', NULL, NULL, 83)
GO
ALTER TABLE [dbo].[xC71_Declarant_segment]  WITH CHECK ADD  CONSTRAINT [Identification_segment_Declarant_segment] FOREIGN KEY([Identification_segment_Id])
REFERENCES [dbo].[xC71_Identification_segment] ([Identification_segment_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[xC71_Declarant_segment] CHECK CONSTRAINT [Identification_segment_Declarant_segment]
GO
