USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[xcuda_Transit]    Script Date: 4/3/2025 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xcuda_Transit](
	[Time_limit] [nvarchar](10) NULL,
	[Transit_Id] [int] IDENTITY(1,1) NOT NULL,
	[ASYCUDA_Id] [int] NULL,
 CONSTRAINT [PK_xcuda_Transit] PRIMARY KEY CLUSTERED 
(
	[Transit_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[xcuda_Transit]  WITH NOCHECK ADD  CONSTRAINT [FK_ASYCUDA_Transit] FOREIGN KEY([ASYCUDA_Id])
REFERENCES [dbo].[xcuda_ASYCUDA] ([ASYCUDA_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[xcuda_Transit] CHECK CONSTRAINT [FK_ASYCUDA_Transit]
GO
