USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[EntryData_DocumentType]    Script Date: 4/3/2025 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntryData_DocumentType](
	[DocumentType] [nvarchar](50) NULL,
	[EntryData_Id] [int] NOT NULL,
 CONSTRAINT [PK_EntryData_DocumentType] PRIMARY KEY CLUSTERED 
(
	[EntryData_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EntryData_DocumentType] ([DocumentType], [EntryData_Id]) VALUES (N'4200-000', 507282)
INSERT [dbo].[EntryData_DocumentType] ([DocumentType], [EntryData_Id]) VALUES (N'4200-000', 507283)
INSERT [dbo].[EntryData_DocumentType] ([DocumentType], [EntryData_Id]) VALUES (N'4200-000', 507284)
GO
ALTER TABLE [dbo].[EntryData_DocumentType]  WITH NOCHECK ADD  CONSTRAINT [FK_EntryData_DocumentType_EntryData1] FOREIGN KEY([EntryData_Id])
REFERENCES [dbo].[EntryData] ([EntryData_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EntryData_DocumentType] CHECK CONSTRAINT [FK_EntryData_DocumentType_EntryData1]
GO
