USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[OCR-Fields]    Script Date: 5/25/2025 9:01:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCR-Fields](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LineId] [int] NOT NULL,
	[Key] [nvarchar](50) NOT NULL,
	[Field] [nvarchar](50) NOT NULL,
	[EntityType] [nvarchar](50) NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[DataType] [nvarchar](50) NOT NULL,
	[ParentId] [int] NULL,
	[AppendValues] [bit] NULL,
 CONSTRAINT [PK_OCR-LineTypeFieldMappings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OCR-Fields] ON 

INSERT [dbo].[OCR-Fields] ([Id], [LineId], [Key], [Field], [EntityType], [IsRequired], [DataType], [ParentId], [AppendValues]) VALUES (3, 1, N'InvoiceTotal', N'InvoiceTotal', N'EntryData', 1, N'Numeric', NULL, NULL)
INSERT [dbo].[OCR-Fields] ([Id], [LineId], [Key], [Field], [EntityType], [IsRequired], [DataType], [ParentId], [AppendValues]) VALUES (4, 1, N'Currency', N'Currency', N'EntryData', 1, N'String', NULL, NULL)
INSERT [dbo].[OCR-Fields] ([Id], [LineId], [Key], [Field], [EntityType], [IsRequired], [DataType], [ParentId], [AppendValues]) VALUES (5, 4, N'SupplierName', N'SupplierName', N'Suppliers', 1, N'String', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[OCR-Fields] OFF
GO
ALTER TABLE [dbo].[OCR-Fields]  WITH CHECK ADD  CONSTRAINT [FK_OCR-Fields_OCR-Fields] FOREIGN KEY([ParentId])
REFERENCES [dbo].[OCR-Fields] ([Id])
GO
ALTER TABLE [dbo].[OCR-Fields] CHECK CONSTRAINT [FK_OCR-Fields_OCR-Fields]
GO
ALTER TABLE [dbo].[OCR-Fields]  WITH CHECK ADD  CONSTRAINT [FK_OCR-Fields_OCR-Lines] FOREIGN KEY([LineId])
REFERENCES [dbo].[OCR-Lines] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OCR-Fields] CHECK CONSTRAINT [FK_OCR-Fields_OCR-Lines]
GO
