USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[OCR-RegularExpressions]    Script Date: 4/2/2025 6:32:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCR-RegularExpressions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegEx] [nvarchar](max) NOT NULL,
	[MultiLine] [bit] NULL,
	[MaxLines] [int] NULL,
 CONSTRAINT [PK_OCR-RegularExpressions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OCR-RegularExpressions] ON 

INSERT [dbo].[OCR-RegularExpressions] ([Id], [RegEx], [MultiLine], [MaxLines]) VALUES (1, N'\ATaxRegistration', NULL, NULL)
INSERT [dbo].[OCR-RegularExpressions] ([Id], [RegEx], [MultiLine], [MaxLines]) VALUES (2, N'Invoice Total', NULL, NULL)
INSERT [dbo].[OCR-RegularExpressions] ([Id], [RegEx], [MultiLine], [MaxLines]) VALUES (3, N'', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[OCR-RegularExpressions] OFF
GO
