USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[EmailInfoMappings]    Script Date: 4/3/2025 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailInfoMappings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmailMappingId] [int] NOT NULL,
	[InfoMappingId] [int] NOT NULL,
	[UpdateDatabase] [bit] NULL,
 CONSTRAINT [PK_EmailInfoMappings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmailInfoMappings] ON 

INSERT [dbo].[EmailInfoMappings] ([Id], [EmailMappingId], [InfoMappingId], [UpdateDatabase]) VALUES (38, 22, 1024, 1)
INSERT [dbo].[EmailInfoMappings] ([Id], [EmailMappingId], [InfoMappingId], [UpdateDatabase]) VALUES (39, 22, 1026, 1)
INSERT [dbo].[EmailInfoMappings] ([Id], [EmailMappingId], [InfoMappingId], [UpdateDatabase]) VALUES (40, 22, 1027, 1)
SET IDENTITY_INSERT [dbo].[EmailInfoMappings] OFF
GO
ALTER TABLE [dbo].[EmailInfoMappings]  WITH CHECK ADD  CONSTRAINT [FK_EmailInfoMappings_EmailMapping] FOREIGN KEY([EmailMappingId])
REFERENCES [dbo].[EmailMapping] ([Id])
GO
ALTER TABLE [dbo].[EmailInfoMappings] CHECK CONSTRAINT [FK_EmailInfoMappings_EmailMapping]
GO
ALTER TABLE [dbo].[EmailInfoMappings]  WITH CHECK ADD  CONSTRAINT [FK_EmailInfoMappings_InfoMapping] FOREIGN KEY([InfoMappingId])
REFERENCES [dbo].[InfoMapping] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmailInfoMappings] CHECK CONSTRAINT [FK_EmailInfoMappings_InfoMapping]
GO
