USE [WebSource-AutoBot]
GO
/****** Object:  View [dbo].[ShipmentInvoicePOItemQueryMatches]    Script Date: 5/25/2025 9:01:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[ShipmentInvoicePOItemQueryMatches]
as 

WITH cte AS
(
   SELECT *,
         ROW_NUMBER() OVER (PARTITION BY podetailsid,invdetailsid,poitemcode ORDER BY rankno DESC) AS rn
   FROM (SELECT        PODetailsId, INVDetailsId, POId, INVId, PONumber, InvoiceNo, POItemCode, INVItemCode, PODescription, INVDescription, POCost, INVCost, POQuantity, INVQuantity, Gallons, POTotalCost, INVTotalCost, INVInventoryItemId, 
                         POInventoryItemId, RankNo, CategoryTariffCode, Category
FROM            [ShipmentInvoicePOItemQueryMatches-Alias]
union
SELECT        PODetailsId, INVDetailsId, POId, INVId, PONumber, InvoiceNo, POItemCode, INVItemCode, PODescription, INVDescription, POCost, INVCost, POQuantity, INVQuantity, Gallons, POTotalCost, INVTotalCost, INVInventoryItemId, 
                         POInventoryItemId, RankNo, CategoryTariffCode, Category
FROM            [ShipmentInvoicePOItemQueryMatches-Match])as t
) 
SELECT *
FROM cte
WHERE rn = 1 -- and poitemcode = 'AAA/50071'

GO
