USE [WebSource-AutoBot]
GO
/****** Object:  View [dbo].[AsycudaItemPiQuantityData]    Script Date: 4/2/2025 6:32:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[AsycudaItemPiQuantityData]
AS
SELECT cast(ROW_NUMBER() OVER (ORDER BY EntryPreviousItems.Item_Id, xcuda_PreviousItem.PreviousItem_Id) AS int) AS Id ,  EntryPreviousItems.Item_Id, CAST(ISNULL(xcuda_PreviousItem.Suplementary_Quantity, 0) AS float) AS PiQuantity, CAST(xcuda_PreviousItem.Net_weight AS float) AS PiWeight, xItemDocument.AssessmentDate,xItemDocument.RegistrationDate , xItemBasicInfo.IsAssessed, 
                xcuda_PreviousItem.PreviousItem_Id AS xItem_Id, xItemDocument.DocumentType, CASE WHEN AsycudaDocumentCustomsProcedures.IsPaid = 1 THEN 'Duty Paid' ELSE 'Duty Free' END AS DutyFreePaid, xItemBasicInfo.ItemNumber, 
                xItemDocument.CNumber, xItemDocument.Reference, xItemDocument.ApplicationSettingsId, PreviousDocument.CNumber AS pCNumber, PreviousDocumentItem.LineNumber AS pLineNumber, PreviousDocument.Reference AS pReference, 
                ISNULL(AsycudaDocumentItemEntryDataDetails.EntryDataType,CustomsProcedureEntryDataType.EntryDataType ) AS EntryDataType, xItemBasicInfo.LineNumber AS xLineNumber, xItemDocument.CustomsProcedure
FROM      EntryPreviousItems WITH (NOLOCK) INNER JOIN
                xcuda_PreviousItem WITH (NOLOCK) ON EntryPreviousItems.PreviousItem_Id = xcuda_PreviousItem.PreviousItem_Id AND EntryPreviousItems.Item_Id <> xcuda_PreviousItem.PreviousItem_Id INNER JOIN
                AsycudaItemBasicInfo AS xItemBasicInfo WITH (NOLOCK) INNER JOIN
                AsycudaDocumentBasicInfo AS xItemDocument WITH (NOLOCK) ON xItemBasicInfo.ASYCUDA_Id = xItemDocument.ASYCUDA_Id ON xcuda_PreviousItem.PreviousItem_Id = xItemBasicInfo.Item_Id INNER JOIN
                xcuda_ASYCUDA_ExtendedProperties WITH (NOLOCK) ON xcuda_PreviousItem.ASYCUDA_Id = xcuda_ASYCUDA_ExtendedProperties.ASYCUDA_Id INNER JOIN
                AsycudaItemBasicInfo AS PreviousDocumentItem ON EntryPreviousItems.Item_Id = PreviousDocumentItem.Item_Id INNER JOIN
                AsycudaDocumentBasicInfo AS PreviousDocument ON PreviousDocumentItem.ASYCUDA_Id = PreviousDocument.ASYCUDA_Id INNER JOIN
                AsycudaDocumentCustomsProcedures ON AsycudaDocumentCustomsProcedures.ASYCUDA_Id = xItemDocument.ASYCUDA_Id LEFT OUTER JOIN
                CustomsProcedureEntryDataType ON AsycudaDocumentCustomsProcedures.Customs_ProcedureId = CustomsProcedureEntryDataType.Customs_ProcedureId LEFT OUTER JOIN
                AsycudaDocumentItemEntryDataDetails ON AsycudaDocumentItemEntryDataDetails.Item_Id = xItemBasicInfo.Item_Id
WHERE   (xcuda_ASYCUDA_ExtendedProperties.Cancelled IS NULL OR
                xcuda_ASYCUDA_ExtendedProperties.Cancelled = 0) AND (AsycudaDocumentCustomsProcedures.CustomsOperationId = 3)
GROUP BY xItemDocument.AssessmentDate,xItemDocument.RegistrationDate, EntryPreviousItems.Item_Id, xcuda_PreviousItem.PreviousItem_Id, xItemBasicInfo.IsAssessed, xItemDocument.DocumentType, xItemDocument.Extended_customs_procedure, xItemBasicInfo.ItemNumber, 
                xItemDocument.CNumber, xItemDocument.Reference, xItemDocument.ApplicationSettingsId, PreviousDocument.CNumber, PreviousDocument.Reference, xcuda_PreviousItem.Suplementary_Quantity, xcuda_PreviousItem.Net_weight, 
                PreviousDocumentItem.LineNumber, AsycudaDocumentCustomsProcedures.IsPaid, AsycudaDocumentItemEntryDataDetails.EntryDataType, xItemBasicInfo.LineNumber, xItemDocument.CustomsProcedure, CustomsProcedureEntryDataType.EntryDataType
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2435
         Alias = 903
         Table = 1165
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1348
         SortOrder = 1414
         GroupBy = 1350
         Filter = 1348
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'AsycudaItemPiQuantityData'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'AsycudaItemPiQuantityData'
GO
