USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[SessionActions]    Script Date: 4/2/2025 6:32:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionActions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [int] NOT NULL,
	[ActionId] [int] NOT NULL,
 CONSTRAINT [PK_SessionActions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SessionActions] ON 

INSERT [dbo].[SessionActions] ([Id], [SessionId], [ActionId]) VALUES (1, 1, 59)
INSERT [dbo].[SessionActions] ([Id], [SessionId], [ActionId]) VALUES (2, 1, 25)
INSERT [dbo].[SessionActions] ([Id], [SessionId], [ActionId]) VALUES (3, 1, 42)
GO
SET IDENTITY_INSERT [dbo].[SessionActions] OFF
GO
ALTER TABLE [dbo].[SessionActions]  WITH CHECK ADD  CONSTRAINT [FK_SessionActions_Actions] FOREIGN KEY([ActionId])
REFERENCES [dbo].[Actions] ([Id])
GO
ALTER TABLE [dbo].[SessionActions] CHECK CONSTRAINT [FK_SessionActions_Actions]
GO
ALTER TABLE [dbo].[SessionActions]  WITH CHECK ADD  CONSTRAINT [FK_SessionActions_Sessions] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Sessions] ([Id])
GO
ALTER TABLE [dbo].[SessionActions] CHECK CONSTRAINT [FK_SessionActions_Sessions]
GO
