USE [WebSource-AutoBot]
GO
/****** Object:  Table [dbo].[OCR-PartTypes]    Script Date: 4/2/2025 6:32:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCR-PartTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_OCR-PartTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OCR-PartTypes] ON 

INSERT [dbo].[OCR-PartTypes] ([Id], [Name]) VALUES (1, N'Invoice')
INSERT [dbo].[OCR-PartTypes] ([Id], [Name]) VALUES (2, N'InvoiceSummary')
INSERT [dbo].[OCR-PartTypes] ([Id], [Name]) VALUES (3, N'Header')
SET IDENTITY_INSERT [dbo].[OCR-PartTypes] OFF
GO
