USE [WebSource-AutoBot]
GO
/****** Object:  View [dbo].[EntryDataEx-Classifications]    Script Date: 4/3/2025 10:23:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE VIEW [dbo].[EntryDataEx-Classifications]
AS

SELECT EntryData.EntryData_Id, EntryData.EntryDataDate AS InvoiceDate, EntryData.EntryType AS Type, [EntryData-Summary].Total AS ImportedTotal, EntryData.EntryDataId AS InvoiceNo, 
                 EntryData_PurchaseOrders.SupplierInvoiceNo, COALESCE ([EntryData-Summary].DetailsTax, EntryData_Adjustments.Tax) AS Tax, EntryData.InvoiceTotal, EntryData.ImportedLines, [EntryData-Summary].TotalLines, 
                 EntryData.Currency, EntryData.ApplicationSettingsId, CASE WHEN isnull(DetailsTax, COALESCE (EntryData_Sales.Tax, EntryData_Adjustments.Tax)) = 0 THEN 'Duty Free' ELSE 'Duty Paid' END AS DutyFreePaid, 
                 EntryData.EmailId, EntryData.FileTypeId, EntryData.SupplierCode, ISNULL([EntryData-Summary].Total, 0) + ISNULL(EntryData.TotalInternalFreight, 0) + ISNULL(EntryData.TotalInsurance, 0) 
                 + ISNULL(EntryData.TotalOtherCost, 0) - ISNULL(EntryData.TotalDeduction, 0) + ISNULL(EntryData.TotalFreight, 0) AS ExpectedTotal, EntryDataExTotals.ClassifiedLines, 
                 AsycudaDocumentSetEntryData.AsycudaDocumentSetId, ISNULL(EntryData.TotalInternalFreight, 0) AS TotalInternalFreight, ISNULL(EntryData.TotalInsurance, 0) AS TotalInternalInsurance, 
                 ISNULL(EntryData.TotalOtherCost, 0) AS TotalOtherCost, ISNULL(EntryData.TotalDeduction, 0) AS TotalDeductions, ISNULL(EntryData.TotalFreight, 0) AS TotalFreight, ISNULL([EntryData-Summary].Total, 0) AS Totals, 
                 ISNULL(EntryDataExTotals.Packages, 0) AS Packages, EntryData.SourceFile
FROM    EntryData WITH (NOLOCK) INNER JOIN
                 [EntryData-Summary] ON EntryData.EntryData_Id = [EntryData-Summary].EntryData_Id INNER JOIN
                 AsycudaDocumentSetEntryData ON EntryData.EntryData_Id = AsycudaDocumentSetEntryData.EntryData_Id LEFT OUTER JOIN
                 EntryData_Adjustments WITH (NOLOCK) ON EntryData.EntryData_Id = EntryData_Adjustments.EntryData_Id LEFT OUTER JOIN
                EntryDataExTotals WITH (NOLOCK) ON EntryData.EntryData_Id = EntryDataExTotals.EntryData_Id LEFT OUTER JOIN
                 EntryData_Sales WITH (NOLOCK) ON EntryData.EntryData_Id = EntryData_Sales.EntryData_Id LEFT OUTER JOIN
                 EntryData_OpeningStock WITH (NOLOCK) ON EntryData.EntryData_Id = EntryData_OpeningStock.EntryData_Id LEFT OUTER JOIN
                 EntryData_PurchaseOrders WITH (NOLOCK) ON EntryData.EntryData_Id = EntryData_PurchaseOrders.EntryData_Id
GROUP BY EntryData.EntryData_Id, EntryData.EntryDataDate, [EntryData-Summary].Total, EntryData.EntryDataId, EntryData.InvoiceTotal, EntryData.ImportedLines, [EntryData-Summary].TotalLines, EntryData.Currency, 
                 EntryData.ApplicationSettingsId, EntryData.EmailId, EntryData.FileTypeId, EntryData.SupplierCode, EntryDataExTotals.ClassifiedLines, EntryData.SourceFile, EntryData_PurchaseOrders.PONumber, 
                 EntryData_Sales.EntryData_Id, EntryData_OpeningStock.EntryData_Id, EntryData_Adjustments.EntryData_Id, EntryData_Adjustments.Type, EntryDataExTotals.Tax, EntryData_Sales.Tax, EntryData_Adjustments.Tax, 
                 EntryDataExTotals.Packages, EntryData_PurchaseOrders.SupplierInvoiceNo, EntryData.TotalInternalFreight, EntryData.TotalInsurance, EntryData.TotalOtherCost, EntryData.TotalDeduction, EntryData.TotalFreight, 
                 AsycudaDocumentSetEntryData.AsycudaDocumentSetId, COALESCE ([EntryData-Summary].DetailsTax, EntryData_Adjustments.Tax), ISNULL([EntryData-Summary].Total, 0) + ISNULL(EntryData.TotalInternalFreight, 0) 
                 + ISNULL(EntryData.TotalInsurance, 0) + ISNULL(EntryData.TotalOtherCost, 0) - ISNULL(EntryData.TotalDeduction, 0) + ISNULL(EntryData.TotalFreight, 0), EntryData.EntryType, [EntryData-Summary].DetailsTax


GO
