USE [WebSource-AutoBot]
GO
/****** Object:  View [dbo].[TODO-TotalAdjustmentsToProcess]    Script Date: 4/8/2025 8:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TODO-TotalAdjustmentsToProcess]
AS
SELECT dbo.AdjustmentDetails.EntryDataDetailsId, dbo.AdjustmentDetails.EntryDataId, dbo.AdjustmentDetails.LineNumber, dbo.AdjustmentDetails.ItemNumber, dbo.AdjustmentDetails.Quantity, dbo.AdjustmentDetails.Units, 
                 dbo.AdjustmentDetails.ItemDescription, dbo.AdjustmentDetails.Cost, dbo.AdjustmentDetails.QtyAllocated, dbo.AdjustmentDetails.UnitWeight, dbo.AdjustmentDetails.DoNotAllocate, dbo.AdjustmentDetails.TariffCode, 
                 dbo.AdjustmentDetails.CNumber, dbo.AdjustmentDetails.CLineNumber, dbo.AsycudaDocumentSet.AsycudaDocumentSetId, dbo.AdjustmentDetails.InvoiceQty, dbo.AdjustmentDetails.ReceivedQty, 
                 dbo.AdjustmentDetails.PreviousInvoiceNumber, dbo.AdjustmentDetails.PreviousCNumber, dbo.AdjustmentDetails.Comment, dbo.AdjustmentDetails.Status, dbo.AdjustmentDetails.EffectiveDate, 
                 dbo.AdjustmentDetails.Currency, dbo.AdjustmentDetails.ApplicationSettingsId, dbo.AdjustmentDetails.Type, dbo.AsycudaDocumentSet.Declarant_Reference_Number, dbo.AdjustmentDetails.InvoiceDate, 
                 dbo.AdjustmentDetails.Subject, dbo.AdjustmentDetails.EmailDate, dbo.AdjustmentDetails.DutyFreePaid
FROM    dbo.AsycudaDocumentSet INNER JOIN
                 dbo.AdjustmentDetails INNER JOIN
                 dbo.AsycudaDocumentSetEntryData ON dbo.AdjustmentDetails.EntryData_Id = dbo.AsycudaDocumentSetEntryData.EntryData_Id ON 
                 dbo.AsycudaDocumentSet.AsycudaDocumentSetId = dbo.AsycudaDocumentSetEntryData.AsycudaDocumentSetId AND 
                 dbo.AsycudaDocumentSet.AsycudaDocumentSetId <> dbo.AdjustmentDetails.AsycudaDocumentSetId
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "AsycudaDocumentSet"
            Begin Extent = 
               Top = 6
               Left = 44
               Bottom = 161
               Right = 316
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "AdjustmentDetails"
            Begin Extent = 
               Top = 6
               Left = 360
               Bottom = 161
               Right = 599
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "AsycudaDocumentSetEntryData"
            Begin Extent = 
               Top = 6
               Left = 643
               Bottom = 140
               Right = 882
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
         Width = 1309
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 903
         Table = 5263
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1348
         SortOrder = 1414
         GroupBy = 1350
         Filter = 1348
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TODO-TotalAdjustmentsToProcess'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TODO-TotalAdjustmentsToProcess'
GO
